<a class="teaser-related" href="#">
  <h5 class="teaser-related__heading">
    HRA Approval: applicant guidance
  </h5>
  <p class="teaser-related__description">
    From 31st March 2016, HRA Approval is the process for the NHS in England. 
    <span>Read more</span>
  </p>
</a>