<a class="teaser" href="#">
  <div class="teaser__image" style="background-image:url('{{ teaser.image }}')">
    <div class="teaser__meta">
      <div class="teaser__title">{{ teaser.title }}</div>
    </div>
  </div>
  <div class="teaser__description">
    <p>
      {{ teaser.description }}
    </p>
    {% include "atoms-default-arrow" %}
  </div>
</a>