/*------------------------------------*\
    $PATTERNLAB 
    Override styles for styleguide
\*------------------------------------*/

// sass-lint:disable-all
.sg-pattern-example {
    .hero {
        margin-top: 0;
    }

    .site-sidebar {
        padding: 20px;
        margin: 0;
    }

    .site-sidebar__inner {
        float: none;
    }

    .teaser,
    .teaser-related,
    .teaser-search {
        max-width: 500px;
    }

    .highlight {
        margin-left: 0;
        margin-right: 0;
    }

    .standard-page-body__wrapper {
        transform: none;
    }

    .standard-page-body__content {
        max-width: 1200px;
    }

    .custom-select {
        max-width: 300px;
    }

    .glossary__left, 
    .glossary__right {
        height: auto;
    }
}

#atoms-custom-select--blue .custom-select--blue {
    border-color: #034384;

    select {
        color: $color--primary;
    }
}

#atoms-custom-select--purple .custom-select--purple {
    border-color: #792870;
    
    select {
        color: $color--quinary;
    }
}

#atoms-site-search {
    .site-header__search  {
        margin: 0;
    }
}

#atoms-custom-select {

}

#viewall-molecules-glossary-tab {
    display: none;
}

#atoms-checkbox {
    .sg-pattern-example {
        max-width: 300px;

        .checkbox-label {
            color: #000;

            &::before {
                border-color: #949494;
            }

            &::after {
                border-color: #949494;
            }
        }
    }
}

#molecules-search-filters {
    max-width: 700px;
    padding: 20px;
    background-color: $color--primary;
}
