<div class="hero hero--with-caption">
  <div class="hero__caption">
    <div class="hero__caption-breadcrumbs">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Improving research</a></li>
      </ul>
    </div>
    <h1 class="hero__caption-title">{{ heroTitle }}</h1>
    <h2 class="hero__caption-subtitle">{{ heroSubtitle }}</h2>
  </div>
</div>