<div class="hero hero--slim hero--purple">
  <div class="hero__content">
    <div class="hero__breadcrumbs">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About us</a></li>
        <li><span>Who we are</span></li>
      </ul>
    </div>
    <h1 class="hero__heading">{{ heroTitle }}</h1>
  </div>
</div>