<div class="hero hero--slim">
  <div class="hero__content">
    <div class="hero__breadcrumbs">breadcrumbs</div>
    <h1 class="hero__heading">{{ heroTitle }}</h1>
    <div class="hero__date">Last updated on <span>01/01/01</span></div>
  </div>
</div>