<div class="hero hero--inner">
  <div class="hero__content">
    <div class="hero__breadcrumbs">breadcrumbs</div>
    <h1 class="hero__heading">Heading lorem ipsum</h1>
    <div class="hero__date">Last updated on <span>01/01/01</span></div>
  </div>
</div>