/*------------------------------------*\
    $CALL TO ACTION
\*------------------------------------*/

.call-to-action {
    position: relative;
    display: block;
    max-width: 400px;
    padding: 45px 30px;
    background: linear-gradient(to right, #0f5faf, #235789);

    &::before {
        position: absolute;
        top: 40px;
        right: 18px;
        width: 40px;
        height: 46px;
        background: {
            size: cover;
            image: url('../images/svg/plain-arrow.svg');
        }
        content: '';
        transform: rotate(-90deg);
    }

    &__heading {
        &,
        .article & {
            padding: 0 60px 0 0;
            margin-bottom: 10px;
            line-height: 1.2;
            color: #fff;
        }
    }

    &__description {
        &,
        .article & {
            @include font-size(milli);
            margin: 0;
            color: #fff;
        }
    }
}
