/*------------------------------------*\
    $HIGHLIGHT
\*------------------------------------*/

$highlight-min-height: 300px;

.highlight {
    $root: &;
    display: flex;
    margin: 60px -150px;

    @include media-query(desktop) {
        display: block;
        margin: 60px 0;
    }

    &--full {
        margin: 40px 0;
    }

    &--purple {
        a {
            color: $color--yellow;
        }

        #{$root}__left {
            color: #fff;
            background: linear-gradient(to bottom, #913a87, #ad2378);
        }
    }

    &__left,
    &__right {
        display: inline-block;
        width: 100%;
        min-height: $highlight-min-height;
        vertical-align: top;

        @include media-query(tablet) {
            min-height: 0;
        }
    }

    &__left {
        position: relative;
        padding: 75px 75px 65px 130px;
        background-color: #f2f2f2;

        @include media-query(tablet) {
            padding: 35px 35px 25px 130px;
        }

        @include media-query(mobile) {
            padding: 20px;
        }
    }

    &__right {
        background: {
            position: center;
            size: cover;
        }

        @include media-query(tablet) {
            min-height: 200px;
        }
    }

    &__heading {
        @include font-size(delta);
        margin-bottom: 20px;
        font-family: $font--secondary;
        line-height: 1.3;
    }

    &__description {
        .article & {
            @include font-size(zeta);
            line-height: 1.4;
        }
    }
}
