<div class="default-body">
  {% spaceless %}
    <div class="grid grid--full">
      <div class="grid__item three-tenths tablet--one-whole">
        {% include "molecules-site-sidebar--no-transparency" %}
      </div>
      <div class="grid__item seven-tenths tablet--one-whole">
        <div class="site-body site-body--restricted">
          <div class="site-body__inner site-body__inner">
            {% spaceless %}
            <div class="grid grid--wide">
              {% for teaser in eventTeasers %}
                <div class="grid__item one-half mobile--one-whole">
                  {% include "molecules-teaser-default" %}
                </div>
              {% endfor %}
            </div>
            {% endspaceless %}
            {% include "molecules-results-listing--events" %}
          </div>
        </div>
      </div>
    </div>
  {% endspaceless %}
</div>