<div class="committee-page-body">
  {% spaceless %}
  <div class="committee-page-body__content">
    {% include "molecules-committee-list" %}
  </div>
  <div class="committee-page-body__table-wrapper">
    {% include "molecules-committee-table" %}
  </div>
  {% endspaceless %}
</div>