<div class="default-body">
  {% spaceless %}
    <div class="grid grid--full">
      <div class="grid__item three-tenths tablet--one-whole">
        {% include "molecules-site-sidebar" %}
      </div>
      <div class="grid__item seven-tenths tablet--one-whole">
        <div class="site-body site-body--restricted">
          <div class="site-body__inner site-body__inner">
            {% include "molecules-results-listing" %}
          </div>
        </div>
      </div>
    </div>
  {% endspaceless %}
</div>