<div class="default-body">
  {% spaceless %}
    <div class="grid grid--full">
      <div class="grid__item three-tenths tablet--one-whole">
        {% include "molecules-site-sidebar" %}
      </div>
      <div class="grid__item seven-tenths tablet--one-whole">
        
      </div>
    </div>
  {% endspaceless %}
</div>