{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static util_tags %}

{% block content %}

    <div class="hero hero--slim">
        <div class="hero__content">
            <div class="hero__breadcrumbs">
                {% include 'navigation/breadcrumbs.html' %}
            </div>
            <h1 class="hero__heading">{{ page.title }}</h1>
        </div>
    </div>

    <div class="default-body">
        {% spaceless %}
            <div class="grid grid--full">
                <div class="grid__item three-tenths tablet--one-whole">

                    {% include 'includes/teasers/site_sidebar.html' with no_transparency=True page=page siblings=siblings %}

                </div>
                <div class="grid__item seven-tenths tablet--one-whole">
                    <div class="site-body site-body--restricted">
                        <div class="site-body__inner site-body__inner">

                            {# TODO: Implement on event listing page #}
                            {% include 'includes/teasers/teaser_default.html' with section_pages=page.featured_pages.all %}

                            {% if events %}
                                <ul class="results-listing">

                                    {% for event in events %}

                                        <li class="results-listing__item js-border-result">
                                            <a href="{% pageurl event %}">
                                                <div class="results-listing__item-border js-border-result__border"></div>
                                                <div class="results-listing__item-heading js-border-result__heading">
                                                    {{ event.listing_title|default:event.title }}
                                                </div>
                                                <ul class="results-listing__item-meta">

                                                    <li class="date">
                                                        <span>{{ event.start_date }}</span>
                                                        {% if event.end_date and not event.end_date == event.start_date %}
                                                            &ndash; <span>{{ event.end_date }}</span>
                                                        {% endif %}
                                                    </li>

                                                    {% if event.start_time or event.end_time %}
                                                        <li class="time">

                                                            {% if event.start_time %}
                                                                <span>{{ event.start_time }}</span>
                                                            {% endif %}
                                                            {% if event.end_time %}
                                                                &ndash; <span>{{ event.end_time|default:"" }}</span>
                                                            {% endif %}

                                                        </li>
                                                    {% endif %}


                                                    {% with event_types=event.event_types.all %}
                                                        {% if event_types %}
                                                            <li class="type">
                                                                {% for event_type_through in event_types %}
                                                                    {% if not forloop.last %}
                                                                        {{ event_type_through.event_type.title }}{{ ", " }}
                                                                    {% else %}
                                                                        {{ event_type_through.event_type.title }}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </li>
                                                        {% endif %}
                                                    {% endwith %}

                                                </ul>

                                                {% if event.street_address_1 or event.street_address_2 or event.city or event.region or event.postcode or event.country %}
                                                    <ul class="results-listing__item-meta">
                                                        <li class="date">
                                                            {% to_list event.street_address_1 event.street_address_2 vent.city event.region event.postcode event.country as address_list %}
                                                            {% for address_part in address_list %}
                                                                {% if not forloop.last and address_part %}
                                                                    {{ address_part }}{{ ", " }}
                                                                {% else %}
                                                                    {{ address_part }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </li>
                                                    </ul>
                                                {% endif %}

                                                {% if event.listing_summary %}
                                                    <div class="results-listing__item-content">
                                                        {{ event.listing_summary }}
                                                    </div>
                                                {% endif %}
                                            </a>
                                        </li>

                                    {% endfor %}

                                </ul>

                                {% include "includes/pagination.html" with subpages=events %}
                            {% else %}
                                {# no items #}
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        {% endspaceless %}
    </div>

{% endblock %}
