<div class="standard-page-body">
  <div class="standard-page-body__wrapper">
    <div class="standard-page-body__content">
      <article class="article">
        <h1>{{ title }}</h1>
        <p>{{ introduction }}</p>
        {% include "molecules-blockquote" %}
        {% include "molecules-highlight" %}
      </article>
    </div>
  </div>
</div>