<div class="homepage-body">
  <div class="wrapper">
    {% spaceless %}
      <div class="grid grid--wide">
        <div class="grid__item four-tenths tablet--one-whole">
          {% include "molecules-teaser-default" %}
          {% include "molecules-teaser-default" %}
        </div>
        <div class="grid__item six-tenths tablet--one-whole">
          <ul class="results-listing results-listing--flush">

            {# Result item #}
            <li class="results-listing__item js-border-result">
              <a href="">
                <div class="results-listing__item-border js-border-result__border"></div>
                <div class="results-listing__item-heading js-border-result__heading">Nullam quis risus eget urna mollis</div>
                <ul class="results-listing__item-meta">
                  <li class="date">29 Apr 2017</li>
                  <li class="author">Author: <span>John Smith</span></li>
                  <li class="category">Best practice</li>
                </ul>
                <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
              </a>
            </li>
            {# Result item end #}

            {# Result item #}
            <li class="results-listing__item js-border-result">
              <a href="">
                <div class="results-listing__item-border js-border-result__border"></div>
                <div class="results-listing__item-heading js-border-result__heading">Short heading</div>
                <ul class="results-listing__item-meta">
                  <li class="date">29 Apr 2017</li>
                  <li class="author">Author: <span>John Smith</span></li>
                  <li class="category">Best practice</li>
                </ul>
                <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
              </a>
            </li>
            {# Result item end #}

            {# Result item #}
            <li class="results-listing__item js-border-result">
              <a href="">
                <div class="results-listing__item-border js-border-result__border"></div>
                <div class="results-listing__item-heading js-border-result__heading">Short heading</div>
                <ul class="results-listing__item-meta">
                  <li class="date">29 Apr 2017</li>
                  <li class="author">Author: <span>John Smith</span></li>
                  <li class="category">Best practice</li>
                </ul>
                <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
              </a>
            </li>
            {# Result item end #}

            {# Result item #}
            <li class="results-listing__item js-border-result">
              <a href="">
                <div class="results-listing__item-border js-border-result__border"></div>
                <div class="results-listing__item-heading js-border-result__heading">Short heading</div>
                <ul class="results-listing__item-meta">
                  <li class="date">29 Apr 2017</li>
                  <li class="author">Author: <span>John Smith</span></li>
                  <li class="category">Best practice</li>
                </ul>
                <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
              </a>
            </li>
            {# Result item end #}

        </div>
      </div>
    {% endspaceless %}
  </div>
  {% include "molecules-highlight--full-purple" %}
  <div class="wrapper">
    {% spaceless %}
      <div class="grid grid--wide">
        <div class="grid__item four-tenths tablet--one-whole">
          {% include "molecules-teaser-default" %}
          {% include "molecules-teaser-default" %}
        </div>
        <div class="grid__item six-tenths tablet--one-whole">
          <ul class="results-listing results-listing--flush">

            {# Result item #}
            <li class="results-listing__item js-border-result">
              <a href="">
                <div class="results-listing__item-border js-border-result__border"></div>
                <div class="results-listing__item-heading js-border-result__heading">Nullam quis risus eget urna mollis</div>
                <ul class="results-listing__item-meta">
                  <li class="date">29 Apr 2017</li>
                  <li class="author">Author: <span>John Smith</span></li>
                  <li class="category">Best practice</li>
                </ul>
                <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
              </a>
            </li>
            {# Result item end #}

            {# Result item #}
            <li class="results-listing__item js-border-result">
              <a href="">
                <div class="results-listing__item-border js-border-result__border"></div>
                <div class="results-listing__item-heading js-border-result__heading">Short heading</div>
                <ul class="results-listing__item-meta">
                  <li class="date">29 Apr 2017</li>
                  <li class="author">Author: <span>John Smith</span></li>
                  <li class="category">Best practice</li>
                </ul>
                <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
              </a>
            </li>
            {# Result item end #}

            {# Result item #}
            <li class="results-listing__item js-border-result">
              <a href="">
                <div class="results-listing__item-border js-border-result__border"></div>
                <div class="results-listing__item-heading js-border-result__heading">Short heading</div>
                <ul class="results-listing__item-meta">
                  <li class="date">29 Apr 2017</li>
                  <li class="author">Author: <span>John Smith</span></li>
                  <li class="category">Best practice</li>
                </ul>
                <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
              </a>
            </li>
            {# Result item end #}

            {# Result item #}
            <li class="results-listing__item js-border-result">
              <a href="">
                <div class="results-listing__item-border js-border-result__border"></div>
                <div class="results-listing__item-heading js-border-result__heading">Short heading</div>
                <ul class="results-listing__item-meta">
                  <li class="date">29 Apr 2017</li>
                  <li class="author">Author: <span>John Smith</span></li>
                  <li class="category">Best practice</li>
                </ul>
                <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
              </a>
            </li>
            {# Result item end #}

        </div>
      </div>
    {% endspaceless %}
  </div>
</div>