/*------------------------------------*\
    $ARTICLE
    Default rich text styles
\*------------------------------------*/

.article {
    h1 {
        font-family: $font--secondary;
        color: #000;

        @include media-query(tablet) {
            @include font-size(gamma);
        }
    }

    p {
        @include rem-font-size(18px);
        margin: 0 0 20px;
        line-height: 1.5;

        @include media-query(tablet) {
            @include rem-font-size(17px);
            line-height: 1.4;
        }
    }

    ul,
    ol {
        @include rem-font-size(18px);
        margin: 0 0 20px 35px;
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }
}
