/*------------------------------------*\
    $ARTICLE
    Default rich text styles
\*------------------------------------*/

.article {
    a {
        text-decoration-skip: ink;
    }

    h1 {
        font-family: $font--secondary;
        color: #000;

        @include media-query(tablet) {
            @include font-size(gamma);
        }
    }

    p {
        @include rem-font-size(18px);
        margin: 0 0 20px;
        line-height: 1.5;

        @include media-query(tablet) {
            @include rem-font-size(17px);
            line-height: 1.4;
        }
    }

    &__intro {
        p {
            @include rem-font-size(22px);

            @include media-query(tablet) {
                @include rem-font-size(19px);
            }
        }
    }

    ul,
    ol {
        @include rem-font-size(18px);
        margin: 0 0 20px 35px;
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }
}
