/*------------------------------------*\
    $DEFAULT INPUT
\*------------------------------------*/

input,
textarea {
    &:focus {
        outline: 0;
    }
}

.default-form {
    &__form-error {
        max-width: 500px;
        padding: 20px;
        margin-bottom: 30px;
        color: #fff;
        background-color: #0c4e90;
    }

    &__individual-error {
        max-width: 500px;
        padding: 10px 20px;
        margin-bottom: 10px;
        color: #fff;
        background-color: #0c4e90;
    }

    label {
        @include font-size(milli);
        display: block;
        margin-bottom: 5px;
        color: #fff;

        > span {
            margin-left: 3px;
            opacity: 0.5;
        }
    }

    input[type='text'],
    input[type='email'],
    input[type='url'],
    textarea {
        display: block;
        width: 100%;
        max-width: 500px;
        padding: 15px 20px 16px;
        margin-bottom: 35px;
        font-family: $font--primary;
        color: #fff;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.45);
        transition: background-color $default-transition-speed ease;

        @include media-query(laptop) {
            max-width: 100%;
        }

        &:focus {
            background-color: darken($color--primary, 8%);
        }
    }

    textarea {
        min-height: 200px;
        resize: horizontal;
    }

    input[type='submit'] {
        padding: 10px 20px;
        font-family: $font--primary;
        color: $color--primary;
        cursor: pointer;
        background-color: #fff;
        border: 0;
        transition: background-color $default-transition-speed ease, color $default-transition-speed ease;

        &:hover,
        &:focus {
            color: #fff;
            background-color: darken($color--primary, 8%);
        }
    }
}
