/*------------------------------------*\
    $LINKS
\*------------------------------------*/

a {
    color: $color--primary;
    text-decoration: none;
    transition: color ease $default-transition-speed;
}
