/*------------------------------------*\
    $CUSTOM SELECT STYLES
\*------------------------------------*/

// Default (solid bg)
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 500px;
    margin-bottom: 35px;
    background-color: #fff;

    &::after {
        @include font-size(zeta);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: $z-zeta;
        width: $select-height;
        margin: auto 0;
        font-weight: bold;
        color: $color--purple;
        text-align: center;
        pointer-events: none;
        content: '❮';
        transform: rotate(-90deg);
    }

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        z-index: $z-milli;
        display: block;
        width: $select-height;
        height: $select-height;
        pointer-events: none;
        background-color: #fff;
        content: '';
    }

    select {
        @include font-size(milli);
        position: relative;
        width: 100%;
        height: $select-height;
        padding: 10px;
        margin: 0;
        font-family: $font--secondary;
        color: $color--purple;
        cursor: pointer;
        background-color: #fff;
        border: 0;
        outline: none;
    }

    &__label {
        position: absolute;
        visibility: hidden;
    }
}

// Blue
.custom-select--blue {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.45);

    select {
        width: calc(100% - 10px);
        height: 60px;
        margin-left: 10px;
        color: #fff;
        background-color: transparent;
    }

    &::before {
        width: 60px;
        height: 60px;
        background-color: #034384;
        transition: background-color $default-transition-speed ease;
    }

    &::after {
        right: -3px;
        width: 30px;
        color: #fff;
    }

    &:hover {
        &::before {
            background-color: darken(#034384, 10%);
        }
    }
}

// Purple
.custom-select--purple {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.45);

    select {
        width: calc(100% - 10px);
        height: 60px;
        margin-left: 10px;
        color: #fff;
        background-color: transparent;
    }

    &::before {
        width: 60px;
        height: 60px;
        background-color: #792870;
        transition: background-color $default-transition-speed ease;
    }

    &::after {
        right: -3px;
        width: 30px;
        color: #fff;
    }

    &:hover {
        &::before {
            background-color: darken(#792870, 10%);
        }
    }
}
