/*------------------------------------*\
    $TABLE
\*------------------------------------*/

.table {
    @include font-size(milli);
    width: 100%;
    margin: 30px 0;
    text-align: left;
    border-spacing: 0;

    thead {
        color: #fff;
        background-color: $color--primary;

        td {
            border: 1px solid #0f549a;
        }
    }

    th,
    td {
        padding: 15px 25px;
    }

    td {
        border: 1px solid #f2f2f2;
    }
}

.table--pinned {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
    background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 10px 100%;
    border-collapse: collapse;
    border-spacing: 0;

    // sass-lint:disable no-misspelled-properties, no-vendor-prefixes
    -webkit-overflow-scrolling: touch;

    tbody {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
    }

    thead {
        display: flex;
        flex-shrink: 0;
        min-width: min-content;
    }

    tr {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        min-width: min-content;
    }

    td,
    th {
        display: block;
    }

    td {
        // sass-lint:disable no-important
        background-image: none !important;
        border-left: 0;
    }

    th:not(:last-child),
    td:not(:last-child) {
        border-bottom: 0;
    }
}
