<div class="glossary-tab">
  <button class="glossary-tab__label">
    Glossary
    <svg height="25px" width="25px">
      <use xlink:href="#info-icon"></use>
    </svg>
  </button>
  <div class="glossary-tab__content">
    &hellip;
  </div>
</div>