<div class="hero hero--with-caption">
  <div class="hero__caption">
    <h1 class="hero__caption-title">Improving research</h1>
    <h4 class="hero__caption-subtitle">Lorem ipsum dolor sit amet</h4>
  </div>
</div>