<header class="site-header">
  {% spaceless %}
    <div class="grid">
      <div class="grid__item one-quarter">
        <a href="" class="logo site-header__logo">
          <svg height="56px" width="253px">
            <use xlink:href="#logo"></use>
          </svg>
        </a>
      </div>
      <div class="grid__item three-quarters">
        <div class="site-header__right">
          {% include "molecules-main-menu" %}
          <input type="text" class="site-header__search" placeholder="Search&hellip;">
          <button class="site-header__quick-links-button">
            Quick Links
          </button>
        </div>
      </div>
    </div>
  {% endspaceless %}
</header>