<aside class="site-sidebar">
  <div class="site-sidebar__inner">
    <h2 class="site-sidebar__heading">Within this section</h2>
    <ul class="site-sidebar__menu">
      <li class="site-sidebar__menu-item site-sidebar__menu-item--active">
        {% include "atoms-default-arrow" %}
        <a href="">Overview</a>
      <li class="site-sidebar__menu-item">
        {% include "atoms-default-arrow" %}
        <a href="">Best practice</a>
      </li>
      <li class="site-sidebar__menu-item">
        {% include "atoms-default-arrow" %}
        <a href="">Learning</a>
      </li>
      <li class="site-sidebar__menu-item">
        {% include "atoms-default-arrow" %}
        <a href="">Research planning</a>
      </li>
      <li class="site-sidebar__menu-item">
        {% include "atoms-default-arrow" %}
        <a href="">Policies, Standards &amp; Legislation</a>
      </li>
    </ul>
  </div>
</aside>