<aside class="site-sidebar">
  <h2 class="site-sidebar__heading">Within this section</h2>
  <ul class="site-sidebar__menu">
    <li class="site-sidebar__menu-item site-sidebar__menu-item--active">
      <a href="">Overview</a>
      
    </li>
    <li class="site-sidebar__menu-item"><a href="">Best practice</a></li>
    <li class="site-sidebar__menu-item"><a href="">Learning</a></li>
    <li class="site-sidebar__menu-item"><a href="">Research planning</a></li>
    <li class="site-sidebar__menu-item"><a href="">Policies, Standards &amp; Legislation</a></li>
  </ul>
</aside>