<div class="site-body">
  <div class="site-body__inner">
    <article class="article">
      <h1>Overview</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut cursus lacus. Nullam bibendum ullamcorper lorem ultrices convallis. Pellentesque id tincidunt elit. Donec nec fermentum ante. Aliquam quis vulputate arcu. Vivamus imperdiet dictum nibh, eget ullamcorper turpis pulvinar sit amet. 
      </p>
    </article>

    {% spaceless %}
    <div class="site-body__grid">
      <div class="grid grid--wide">
        <div class="grid__item three-fifths">
          <div class="grid grid--wide">
            <div class="grid__item one-half">
              {% include "molecules-teaser-default" %}
            </div>
            <div class="grid__item one-half">
              {% include "molecules-teaser-default" %}
            </div>
            <div class="grid__item one-half">
              {% include "molecules-teaser-default" %}
            </div>
            <div class="grid__item one-half">
              {% include "molecules-teaser-default" %}
            </div>
          </div>
        </div>
        <div class="grid__item two-fifths">
          {% include "molecules-teaser-search" %}
          {% include "molecules-teaser-related" %}
        </div>
      </div>
    </div>
    {% endspaceless %}
  </div>
</div>