<a class="teaser" href="">
  <div class="teaser__image" style="background-image:url('../../../images/teaser.png')">
    <div class="teaser__meta">
      <div class="teaser__section-label">Improving research</div>
      <div class="teaser__title">
        Best practice
        {% include "atoms-default-arrow" %}
      </div>
    </div>
  </div>
</a>