<ul class="pagination">
  <li class="pagination__back"><span></span></li>
  <li class="pagination__item pagination__item--active"><a href="">1</a></li>
  <li class="pagination__item"><a href="">2</a></li>
  <li class="pagination__item"><a href="">3</a></li>
  <li class="pagination__item"><a href="">4</a></li>
  <li class="pagination__item"><a href="">5</a></li>
  <li class="pagination__forward pagination__forward--active"><a href=""><span>Forward</span></a></li>
</ul>