{% if newsletter_url %}
    <div class="newsletter-signup">
        <div class="newsletter-signup__inner">
            <div class="newsletter-signup__heading">
                Stay up to date with latest news, updates to regulations and upcoming learning events
            </div>
            <div class="newsletter-signup__subheading">
                Sign up to our newsletter
            </div>
            <form class="newsletter-signup__form"
                  method="post"
                  action="{{ newsletter_url }}">

            {% spaceless %}
                <label class="newsletter-signup__label" for="newsletter-first-name">First name</label>
                <input class="newsletter-signup__input" type="text" name="MERGE1" placeholder="First Name" id="newsletter-first-name">
                <label class="newsletter-signup__label" for="newsletter-last-name">Last name</label>
                <input class="newsletter-signup__input" type="text" name="MERGE2" placeholder="Last Name" id="newsletter-last-name">
                <label class="newsletter-signup__label" for="newsletter-email">Email address</label>
                <input class="newsletter-signup__input" type="text" name="MERGE0" placeholder="Email Address" id="newsletter-email">
                <input class="newsletter-signup__submit" type="submit" value="Sign up">
            {% endspaceless %}

            </form>
        </div>
    </div>
{% endif %}
