/*------------------------------------*\
    $FONTS
\*------------------------------------*/

@font-face {
    font-family: 'FrutigerLight';
    src: url('../fonts/FrutigerLight.woff') format('woff');
}

@font-face {
    font-family: 'FrutigerRoman';
    src: url('../fonts/FrutigerRoman.woff') format('woff');
}

@font-face {
    font-family: 'FrutigerBold';
    src: url('../fonts/FrutigerBold.woff') format('woff');
}
