/*------------------------------------*\
    $GLOSSARY
\*------------------------------------*/

.glossary {
    $root: &;

    &__left,
    &__right {
        display: inline-block;
        width: 50%;
        height: calc(100vh - 103px);
        vertical-align: top;
    }

    &__left {
        padding: 100px 100px 100px 150px;
        background-color: $color--primary;
    }

    &__search-heading {
        @include rem-font-size(40px);
        margin-bottom: 15px;
        color: #fff;
    }

    &__search {
        @include placeholder-text {
            @include rem-font-size(18px);
            font-family: $font--primary;
            color: #fff;
            opacity: 1;
        }
        @include font-size(epsilon);
        width: 100%;
        padding: 16px 30px;
        color: #fff;
        background-color: transparent;
        border: 1px solid #74a3cf;
        border-radius: 30px;
    }

    &__browse {
        @include font-size(gamma);
        margin-top: 50px;
        color: #fff;
    }

    &__keyboard {
        display: flex;
        flex-wrap: wrap;
        margin: 15px -11px;
    }

    &__keyboard-letter {
        display: inline-block;
        flex-grow: 1;
        width: 9%;
        height: 47px;
        max-width: 47px;
        margin: 0 11px 22px;
        color: #fff;
        cursor: pointer;
        background-color: transparent;
        border: 2px solid #75a0ca;
        border-radius: 50%;
        transition: background-color $default-transition-speed ease, border-color $default-transition-speed ease, color $default-transition-speed ease;

        &--active,
        &:hover {
            color: $color--primary;
            background-color: #e3ecf5;
            border-color: #e3ecf5;
        }

        &--disabled {
            color: #457fb5;
            border-color: #457fb5;
        }
    }

    &__right {
        padding: 100px;
        overflow: scroll;
    }

    &__results-heading {
        @include rem-font-size(26px);
        margin-bottom: 20px;
        font-family: $font--secondary;
        font-weight: 600;
    }

    &__result {
        position: relative;
        padding: 30px 0;
        border-top: 1px solid #eee;
    }

    &__result-border {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 4px;
        background-color: #eee;
    }

    &__result-heading {
        @include font-size(delta);
        display: inline-block;
        font-family: $font--secondary;
        font-weight: 600;
    }

    &__result-content {
        font-size: 16px;
    }

    &__noun {
        @include rem-font-size(13px);
        padding: 3px 4px;
        margin-left: 5px;
        font-family: $font--secondary;
        color: #000;
        vertical-align: 3px;
        background-color: #f9df32;
        border-radius: 4px;
    }
}
