/*------------------------------------*\
    $HERO
\*------------------------------------*/

.hero {
    height: 500px;
    background: {
        size: cover;
        image: url('../images/hero.png');
    }
}
