/*------------------------------------*\
    $HERO
\*------------------------------------*/

.hero {
    z-index: -1;
    height: 600px;
    margin-top: -103px;
    background: {
        size: cover;
        image: url('../images/hero.png');
    }

    &--with-caption {
        position: relative;
    }

    &__caption {
        position: absolute;
        top: 245px;
        right: 0;
        padding: 60px 180px 60px 50px;
        margin: auto 0;
        background-color: rgba(9, 89, 169, 0.95);

        &::before {
            position: absolute;
            top: 0;
            left: 32px;
            width: 44px;
            height: 50px;
            background: {
                size: cover;
                image: url('../images/svg/plain-arrow.svg');
            }
            content: '';
        }
    }

    &__caption-title {
        @include rem-font-size(50px);
        color: #fff;
    }

    &__caption-subtitle {
        @include font-size(epsilon);
        color: #fff;
    }
}
