/*------------------------------------*\
    $MAIN MENU
\*------------------------------------*/

.main-menu {
    display: inline-block;
    vertical-align: top;

    @include media-query(laptop) {
        position: absolute;
        top: 100px;
        left: 0;
        z-index: $z-zeta;
        display: table;
        width: 100%;
        padding: 10px 0;
        text-align: center;
        background-color: #fff;
    }

    @include media-query(mobile) {
        top: 64px;
        display: block;
        padding: 10px 20px;
    }

    &__item {
        display: inline-block;
        padding: 10px 30px;
        vertical-align: -16px;
        border-right: 1px solid $color--border;

        @include media-query(desktop) {
            padding: 10px 20px;
        }

        @include media-query(laptop) {
            width: (100% / 3);
            padding: 0;
            text-align: center;
            vertical-align: top;
        }

        @include media-query(mobile) {
            min-height: 57px;
        }

        &:first-of-type {
            padding-left: 0;
        }

        &:last-of-type {
            padding-right: 0;
            border-right: 0;
        }

        > a {
            position: relative;
            padding-bottom: 8px;
            font-weight: 600;
            color: #425563;

            @include media-query(laptop) {
                @include font-size(milli);
                display: block;
                padding: 7px 15px;
                text-align: center;
            }

            &::after {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $color--primary;
                content: '';
                opacity: 0;
                transform: translate3d(0, 3px, 0);
                transition: opacity $default-transition-speed ease, transform $default-transition-speed ease;

                @include media-query(tablet) {
                    display: none;
                }
            }

            &:hover {
                &::after {
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }
            }
        }

        &--active {
            > a {
                &::after {
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}
