/*------------------------------------*\
    $QUICK LINKS
\*------------------------------------*/

.quick-links {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 300px;
    background-color: $color--senary;
}
