/*------------------------------------*\
    $RESULTS LISTING
\*------------------------------------*/

.results-listing {
    margin-top: 20px;

    &--pushed {
        margin-top: 50px;
    }

    &__item {
        position: relative;

        > a {
            position: relative;
            display: block;
            padding: 20px 10px;
            margin-bottom: 20px;
            color: #000;
            transition: background-color $default-transition-speed ease;

            // Top border
            &::before {
                position: absolute;
                top: 0;
                left: 10px;
                width: calc(100% - 10px);
                height: 1px;
                background-color: #eee;
                content: '';
            }

            // Arrow
            &::after {
                position: absolute;
                top: 30px;
                right: 0;
                width: 20px;
                height: 23px;
                background: {
                    size: cover;
                    image: url('../images/svg/blue-arrow.svg');
                }
                content: '';
                transform: rotate(-90deg) translate3d(0, -15px, 0);
                transition: transform $default-transition-speed ease;
            }
        }

        &:hover {
            > a {
                background-color: #eee;

                &::after {
                    transform: rotate(-90deg) translate3d(0, -10px, 0);
                }
            }
        }
    }

    // Thicker, flexible border - width overridden with js
    &__item-border {
        position: absolute;
        top: 0;
        left: 10px;
        width: 100px;
        height: 4px;
        background-color: #eee;

        @include media-query(mobile) {
            opacity: 0;
        }
    }

    &__item-image {
        display: inline-block;
        width: 85px;
        margin-right: 20px;
        vertical-align: top;

        img {
            width: 100%;
        }
    }

    &__item-right {
        display: inline-block;
        width: calc(100% - 105px);
        vertical-align: top;
    }

    &__item-heading {
        @include font-size(delta);
        display: inline-block;
        font-family: $font--secondary;
        font-weight: 600;

        @include media-query(mobile) {
            padding-right: 40px;
        }
    }

    &__item-meta {
        margin: -5px 0 10px;

        > li {
            @include rem-font-size(12px);
            display: inline-block;
            padding: 0 8px;
            border-right: 1px solid #eee;

            &:first-of-type {
                padding-left: 0;
            }

            &:last-of-type {
                padding-right: 0;
                border-right: 0;
            }
        }
    }

    &__item-content {
        font-size: 16px;
    }

    &__back {
        position: relative;
        padding-left: 35px;
        margin: 40px 0 0 10px;
        font-family: $font--secondary;
        color: #000;

        &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 23px;
            margin: auto 0;
            background: {
                size: cover;
                image: url('../images/svg/blue-arrow.svg');
            }
            content: '';
            transform: rotate(90deg);
            transition: transform $default-transition-speed ease;
        }

        &:hover {
            &::before {
                transform: rotate(90deg) translate3d(0, 5px, 0);
            }
        }
    }
}
