/*------------------------------------*\
    $SEARCH FILTERS
\*------------------------------------*/

.search-filters {
    position: relative;

    &__heading {
        @include rem-font-size(40px);
        margin-bottom: 15px;
        color: #fff;
        overflow: hidden;
        white-space: nowrap;

        @include media-query(laptop) {
            @include font-size(beta);
        }
    }

    &__search {
        @include font-size(epsilon);
        @include placeholder-text {
            @include rem-font-size(18px);
            font-family: $font--primary;
            color: #fff;
            opacity: 1;
        }
        width: 100%;
        padding: 16px 60px 16px 30px;
        color: #fff;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.45);
        border-radius: 40px;

        @include media-query(laptop) {
            padding: 10px 20px;
        }
    }

    &__submit {
        position: absolute;
        top: 77px;
        right: 7px;
        width: 67px;
        height: 67px;
        cursor: pointer;
        background: {
            position: center;
            color: transparent;
            size: 27px;
            repeat: no-repeat;
            image: url('../images/svg/search.svg');
        }
        border: 0;
        transition: opacity $default-transition-speed;

        &:hover {
            opacity: 0.7;
        }

        @include media-query(laptop) {
            top: 61px;
            right: 0;
            width: 67px;
            height: 55px;
            background: {
                size: 24px;
            }
        }
    }

    &__filter-main-heading {
        @include font-size(gamma);
        margin-top: 50px;
        color: #fff;

        @include media-query(laptop) {
            margin-top: 30px;
        }
    }

    &__filter-sub-heading {
        @include font-size(epsilon);
        margin-top: 20px;
        color: #fff;
    }

    &__section-heading {
        margin: 30px 0 10px;
        color: #fff;

        @include media-query(laptop) {
            margin-top: 20px;
        }
    }
}
