/*------------------------------------*\
    $SEARCH FILTERS
\*------------------------------------*/

.search-filters {
    &__heading {
        @include rem-font-size(40px);
        margin-bottom: 15px;
        color: #fff;
    }

    &__search {
        @include placeholder-text {
            @include rem-font-size(18px);
            font-family: $font--primary;
            color: #fff;
            opacity: 1;
        }
        @include font-size(epsilon);
        width: 100%;
        padding: 16px 30px;
        color: #fff;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.45);
        border-radius: 40px;
    }

    &__filter-main-heading {
        @include font-size(gamma);
        margin-top: 50px;
        color: #fff;
    }

    &__filter-sub-heading {
        @include font-size(epsilon);
        margin-top: 20px;
        color: #fff;
    }

    &__section-heading {
        margin: 30px 0 10px;
        color: #fff;
    }
}
