/*------------------------------------*\
    $SITE BODY
\*------------------------------------*/

.site-body {
    padding: 80px 60px 80px 40px;
    overflow: auto;

    @include media-query(desktop) {
        padding: 40px 20px;
    }

    &__inner {
        float: left;
        width: 100%;
        max-width: 1000px;
    }

    &__grid {
        margin-top: 60px;
    }

    &--restricted {
        padding-right: 20%;
        padding-left: 100px;

        @include media-query(desktop) {
            padding: 40px 20px;
        }
    }
}
