/*------------------------------------*\
    $SITE HEADER
\*------------------------------------*/

.site-header {
    position: absolute;
    width: 100%;
    padding: 25px 35px;
    background-color: rgba(252, 252, 252, 0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    &__logo {
        display: block;
    }

    &__right {
        text-align: right;
    }

    &__search {
        @include placeholder-text {
            font-family: $font--primary;
            font-size: 16px;
            color: #fff;
            opacity: 1;
        }

        display: inline-block;
        padding: 11px 20px;
        margin: 0 0 0 70px;
        color: #fff;
        vertical-align: -16px;
        background-color: $color--blue;
        border: 0;
        border-radius: 35px;
    }
}
