/*------------------------------------*\
    $SITE SIDEBAR
\*------------------------------------*/

.site-sidebar {
    width: 100%;
    padding: 60px;
    margin-top: -130px;
    overflow: auto;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), #fff 20%);

    @include media-query(desktop) {
        padding: 25px;
    }

    @include media-query(tablet) {
        float: right;
        width: calc(100% - 20px);
        padding-left: 60px;
        margin-top: 50px;
        background: #f4f4f4;
    }

    &__inner {
        float: right;
        max-width: 300px;

        @include media-query(desktop) {
            float: none;
            max-width: 100%;
        }

        @include media-query(tablet) {
            height: 100px;
        }
    }

    &__heading {
        @include font-size(beta);
        margin-bottom: 30px;
        font-family: $font--tertiary;
        color: #000;
    }

    &__menu-item {
        position: relative;

        > a {
            @include rem-font-size(18px);
            display: block;
            padding: 17px 55px 17px 15px;
            color: #000;
            border-bottom: 1px solid $color--border;
            transition: color $default-transition-speed ease, background-color $default-transition-speed ease;
        }

        > svg {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 25px;
            height: 25px;
            margin: auto 0;
            transform: rotate(-90deg) translate3d(0, -15px, 0);
            transition: transform $default-transition-speed ease;

            path {
                transition: stroke $default-transition-speed ease;
                stroke: $color--primary;
                stroke-width: 2px;
                fill: none;
            }
        }

        &--active,
        &:hover {
            > a {
                color: #fff;
                background-color: $color--primary;
            }

            > svg {
                path {
                    stroke: #fff;
                }
            }
        }

        &:hover {
            > svg {
                transform: rotate(-90deg) translate3d(0, -10px, 0);
            }
        }

        &:first-of-type {
            > a {
                border-top: 1px solid $color--border;
            }
        }
    }
}
