/*------------------------------------*\
    $SITE BODY
\*------------------------------------*/

.site-body {
    padding: 80px 40px;

    &__inner {
        float: left;
        width: 100%;
        max-width: 900px;
    }

    &__grid {
        margin-top: 60px;
    }
}
