/*------------------------------------*\
    $SITE FOOTER
\*------------------------------------*/

.site-footer {
    width: 100%;
    padding: 40px 5% 25px;
    background: linear-gradient(to right, #415564, #3d5d75);
    border-top: 20px solid #2f4250;

    @include media-query(desktop) {
        padding: 40px 20px;
    }

    &__heading {
        color: #fff;
    }

    &__list {
        padding-right: 70px;

        > li {
            border-bottom: 1px solid #32424f;

            &:last-of-type {
                border-bottom: 0;
            }

            a {
                @include rem-font-size(13px);
                position: relative;
                display: block;
                padding: 9px 0;
                color: #fff;

                &::after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 14px;
                    height: 18px;
                    margin: auto 0;
                    background: {
                        size: cover;
                        image: url('../images/svg/plain-arrow.svg');
                    }
                    content: '';
                    transform: rotate(-90deg) translate3d(0, -5px, 0);
                    transition: transform $default-transition-speed ease;
                }

                &:hover {
                    &::after {
                        transform: rotate(-90deg) translate3d(0, 0, 0);
                    }
                }
            }
        }

        @include media-query(desktop) {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                margin-bottom: 30px;
            }
        }

        @include media-query(tablet) {
            padding-right: 0;
        }
    }

    &__social {
        margin-top: 20px;

        li {
            display: inline-block;
            margin-right: 25px;
            vertical-align: top;

            &:last-of-type {
                margin-right: 0;
            }

            a {
                display: block;
                width: 50px;
                height: 50px;
                padding-top: 14px;
                text-align: center;
                background-color: #fff;
                border-radius: 50%;
                transition: background-color $default-transition-speed ease;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.7);
                }

                span {
                    @include hidden;
                }

                svg {
                    fill: #435663;
                }
            }
        }

        &-info {
            @include rem-font-size(13px);
            color: #fff;

            span {
                display: block;
                font-weight: bold;
            }
        }
    }

    &__credits {
        padding: 25px 5%;
        background: linear-gradient(to right, #415564, #3d5d75);
        border-top: 1px solid #32424f;

        @include media-query(desktop) {
            padding: 25px 20px;
        }

        a,
        span {
            @include rem-font-size(13px);
            color: #fff;
        }

        span {
            @include media-query(tablet) {
                display: block;
                margin-bottom: 15px;
            }
        }

        ul {
            display: table;
            width: 100%;
            text-align: center;

            @include media-query(tablet) {
                text-align: right;
            }

            @include media-query(mobile) {
                margin-bottom: 15px;
                text-align: left;
            }

            li {
                display: inline-block;
                margin-right: 50px;

                @include media-query(tablet) {
                    margin-right: 15px;
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }

        &-last-link {
            float: right;

            @include media-query(tablet) {
                float: none;
            }
        }
    }
}
