/*------------------------------------*\
    $SEARCH TEASER
\*------------------------------------*/

.teaser-search {
    position: relative;
    display: block;
    padding: 48px 30px 60px;
    margin-bottom: 60px;
    background: linear-gradient(to right, #ad2378, #943886);

    &::before {
        position: absolute;
        top: 0;
        right: 18px;
        width: 40px;
        height: 46px;
        background: {
            size: cover;
            image: url('../images/svg/plain-arrow.svg');
        }
        content: '';
    }

    &__heading {
        margin-bottom: 10px;
        color: #fff;
    }
}
