/*------------------------------------*\
    $TEASER RELATED
\*------------------------------------*/

.teaser-related {
    position: relative;
    display: block;
    padding: 45px 30px;
    background: linear-gradient(to right, #0f5faf, #235789);

    &::before {
        position: absolute;
        top: 40px;
        right: 18px;
        width: 40px;
        height: 46px;
        background: {
            size: cover;
            image: url('../images/svg/plain-arrow.svg');
        }
        content: '';
        transform: rotate(-90deg);
    }

    &__heading {
        padding: 0 60px 0 0;
        margin-bottom: 10px;
        font-family: $font--secondary;
        line-height: 1.2;
        color: #fff;
    }

    &__description {
        @include font-size(milli);
        margin: 0;
        color: #fff;
    }
}
