<ul class="results-listing">

  {# Result item #}
  <li class="results-listing__item js-border-result">
    <a href="">
      <div class="results-listing__item-border js-border-result__border"></div>
      <div class="results-listing__item-heading js-border-result__heading">Nullam quis risus eget urna mollis</div>

      <ul class="results-listing__item-meta">
        <li class="date"><span>29 Apr 2017</span> &ndash; <span>30 Apr 2017</span></li>
        <li class="time"><span>11:00 am</span> &ndash; <span>4:00pm</span></li>
        <li class="type">Event type</li>
      </ul>

      <ul class="results-listing__item-meta">
        <li class="date">Address line one, line two, county, postcode</li>
      </ul>
      <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
    </a>
  </li>
  {# Result item end #}

  {# Result item #}
  <li class="results-listing__item js-border-result">
    <a href="">
      <div class="results-listing__item-border js-border-result__border"></div>
      <div class="results-listing__item-heading js-border-result__heading">Event title</div>

      <ul class="results-listing__item-meta">
        <li class="date"><span>29 Apr 2017</span> &ndash; <span>30 Apr 2017</span></li>
        <li class="time"><span>11:00 am</span> &ndash; <span>4:00pm</span></li>
        <li class="type">Event type</li>
      </ul>

      <ul class="results-listing__item-meta">
        <li class="date">Address line one, line two, county, postcode</li>
      </ul>
      <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
    </a>
  </li>
  {# Result item end #}

  {# Result item #}
  <li class="results-listing__item js-border-result">
    <a href="">
      <div class="results-listing__item-border js-border-result__border"></div>
      <div class="results-listing__item-heading js-border-result__heading">Quis risus eget urna mollis</div>

      <ul class="results-listing__item-meta">
        <li class="date"><span>29 Apr 2017</span> &ndash; <span>30 Apr 2017</span></li>
        <li class="time"><span>11:00 am</span> &ndash; <span>4:00pm</span></li>
        <li class="type">Event type</li>
      </ul>

      <ul class="results-listing__item-meta">
        <li class="date">Address line one, line two, county, postcode</li>
      </ul>
      <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
    </a>
  </li>
  {# Result item end #}

  {# Result item #}
  <li class="results-listing__item js-border-result">
    <a href="">
      <div class="results-listing__item-border js-border-result__border"></div>
      <div class="results-listing__item-heading js-border-result__heading">Lorem ipsum</div>

      <ul class="results-listing__item-meta">
        <li class="date"><span>29 Apr 2017</span> &ndash; <span>30 Apr 2017</span></li>
        <li class="time"><span>11:00 am</span> &ndash; <span>4:00pm</span></li>
        <li class="type">Event type</li>
      </ul>

      <ul class="results-listing__item-meta">
        <li class="date">Address line one, line two, county, postcode</li>
      </ul>
      <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
    </a>
  </li>
  {# Result item end #}

</ul>

{% include "molecules-pagination" %}
