<div class="results-container__heading">109 results for <span>submitting my application</div>
<ul class="results-listing">

  {# Result item #}
  <li class="results-listing__item js-border-result">
    <a href="">
      <div class="results-listing__item-border js-border-result__border"></div>
      <div class="results-listing__item-heading js-border-result__heading">Nullam quis risus eget urna mollis</div>
      <ul class="results-listing__item-meta">
        <li class="date">29 Apr 2017</li>
        <li class="author">Author: <span>John Smith</span></li>
        <li class="category">Best practice</li>
      </ul>
      <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
    </a>
  </li>
  {# Result item end #}

  {# Result item #}
  <li class="results-listing__item js-border-result">
    <a href="">
      <div class="results-listing__item-border js-border-result__border"></div>
      <div class="results-listing__item-heading js-border-result__heading">Short heading</div>
      <ul class="results-listing__item-meta">
        <li class="date">29 Apr 2017</li>
        <li class="author">Author: <span>John Smith</span></li>
        <li class="category">Best practice</li>
      </ul>
      <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
    </a>
  </li>
  {# Result item end #}

  {# Result item #}
  <li class="results-listing__item js-border-result">
    <a href="">
      <div class="results-listing__item-border js-border-result__border"></div>
      <div class="results-listing__item-heading js-border-result__heading">Lorem ipsum dolor sit amet</div>
      <ul class="results-listing__item-meta">
        <li class="date">29 Apr 2017</li>
        <li class="author">Author: <span>John Smith</span></li>
        <li class="category">Best practice</li>
      </ul>
      <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
    </a>
  </li>
  {# Result item end #}

  {# Result item #}
  <li class="results-listing__item js-border-result">
    <a href="">
      <div class="results-listing__item-border js-border-result__border"></div>
      <div class="results-listing__item-heading js-border-result__heading">Nullam quis risus eget urna mollis</div>
      <ul class="results-listing__item-meta">
        <li class="date">29 Apr 2017</li>
        <li class="author">Author: <span>John Smith</span></li>
        <li class="category">Best practice</li>
      </ul>
      <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
    </a>
  </li>
  {# Result item end #}
  
</ul>

{% include "molecules-pagination" %}
