<ul class="results-listing results-listing--pushed">

  {# Result item #}
  <li class="results-listing__item js-border-result">
    <a href="">
      <div class="results-listing__item-border js-border-result__border"></div>
      <div class="results-listing__item-image js-border-result__image">
        <img src="http://placehold.it/85x85">
      </div>
      <div class="results-listing__item-right">
        <div class="results-listing__item-heading js-border-result__heading">Name</div>
        <ul class="results-listing__item-meta">
          <li class="date">Job title</li>
        </ul>
        <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
      </div>
    </a>
  </li>
  {# Result item end #}

  {# Result item #}
  <li class="results-listing__item js-border-result">
    <a href="">
      <div class="results-listing__item-border js-border-result__border"></div>
      <div class="results-listing__item-image js-border-result__image">
        <img src="http://placehold.it/85x85">
      </div>
      <div class="results-listing__item-right">
        <div class="results-listing__item-heading js-border-result__heading">Longer Name</div>
        <ul class="results-listing__item-meta">
          <li class="date">Job title</li>
        </ul>
        <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
      </div>
    </a>
  </li>
  {# Result item end #}

  {# Result item #}
  <li class="results-listing__item js-border-result">
    <a href="">
      <div class="results-listing__item-border js-border-result__border"></div>
      <div class="results-listing__item-image js-border-result__image">
        <img src="http://placehold.it/85x85">
      </div>
      <div class="results-listing__item-right">
        <div class="results-listing__item-heading js-border-result__heading">Name</div>
        <ul class="results-listing__item-meta">
          <li class="date">Job title</li>
        </ul>
        <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
      </div>
    </a>
  </li>
  {# Result item end #}

  {# Result item #}
  <li class="results-listing__item js-border-result">
    <a href="">
      <div class="results-listing__item-border js-border-result__border"></div>
      <div class="results-listing__item-image js-border-result__image">
        <img src="http://placehold.it/85x85">
      </div>
      <div class="results-listing__item-right">
        <div class="results-listing__item-heading js-border-result__heading">Name</div>
        <ul class="results-listing__item-meta">
          <li class="date">Job title</li>
        </ul>
        <div class="results-listing__item-content">Vivamus sagaittis lacus vel augue laoreet rutrum faucibus dolor auctor onec</div>
      </div>
    </a>
  </li>
  {# Result item end #}
  
</ul>