{% load wagtailcore_tags util_tags %}

<li class="results-listing__item js-border-result">
    <a href="{% pageurl item %}">
        <div class="results-listing__item-border js-border-result__border"></div>
        <div class="results-listing__item-heading js-border-result__heading">
            {{ item.listing_title|default:item.title }}
        </div>

        {% if display_meta_info|default_if_none:True %}

            <ul class="results-listing__item-meta">

                <li class="date">{{ item.display_date|default:item.latest_revision_created_at|date }}</li>

                {% page_verbose_names item as verbose_name %}
                {% if verbose_name %}
                    <li class="category">
                        {{ verbose_name|join:", " }}
                    </li>
                {% endif %}

                {% if item.rec_reference %}
                    <li class="category">REC reference: <span>{{ item.rec_reference }}</span></li>
                {% endif %}

                {% if item.iras_id %}
                    <li class="category">IRAS ID: <span>{{ item.iras_id }}</span></li>
                {% endif %}

            </ul>

        {% endif %}


        {% if item.search_description or item.listing_summary or item.research_summary_text %}
            <div class="results-listing__item-content">
                {{ item.search_description|default:item.listing_summary|default:item.research_summary_text|truncatewords:20 }}
            </div>
        {% endif %}
    </a>
</li>
