<div class="notification notification--error">
  <div class="notification__heading">Error</div>
  <p class="notification__content">
    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cuabitur blandit tempus.
  </p>
  <button class="notification__close"></button>
</div>