<div class="search-filters">
  <div class="search-filters__heading">Search results</div>
  <input class="search-filters__search" type="text" placeholder="Search&hellip;">
  <div class="search-filters__filter-main-heading">Filter results</div>
  {% include "atoms-custom-select--blue" %}
  <div class="search-filters__filter-sub-heading">Filter by type</div>
</div>