{% load wagtailcore_tags wagtailimages_tags %}

<div class="highlight {% block highlight_mod_classes %}{% endblock %}">
    {% spaceless %}
        <div class="highlight__left">
            <h2 class="highlight__heading">
                {{ value.title }}
            </h2>
            <div class="highlight__description">
                {{ value.text|richtext }}
            </div>
        </div>

        {% if value.image %}
            {% image value.image width-800 as image %}

            <div class="highlight__right" style="background-image:url('{{ image.url }}')"></div>
        {% endif %}
    {% endspaceless %}
</div>
