{% load wagtailcore_tags wagtailimages_tags %}

<figure class="image-block" role="group">
    {% with longdesc='' %}

        {% if value.longdesc and value.longdesc.live %}
            {% pageurl value.longdesc.specific as longdesc %}
            {% image value.image original longdesc=longdesc %}
        {% else %}
            {% image value.image original %}
        {% endif %}

        {% if value.caption or longdesc %}
            <figcaption class="image-block__caption">

                {{ value.caption }}
                {% if longdesc %}
                    <a class="image-block__longdesc" href="{{ longdesc }}">Long description</a>
                {% endif %}

            </figcaption>
        {% endif %}

    {% endwith %}
</figure>
