<div class="glossary-tab">
  <button class="glossary-tab__label">
    Glossary
    <svg height="25px" width="25px">
      <use xlink:href="#info-icon"></use>
    </svg>
  </button>
  <button class="glossary-tab__close"></button>
  <div class="glossary-tab__content">
    <form role="search">
      <label class="glossary-tab__input-label">Search glossary</label>
      <input type="text" class="glossary-tab__input" placeholder="Lookup&hellip;" value="">
      <input type="submit" class="glossary-tab__submit" value="">
    </form>
  </div>
</div>