<label class="custom-select__label" for="custom-select__select">Find advice by topic</label>
<div class="custom-select">
  <select id="custom-select__select">
    <option value="option-1">Option 1</option>
    <option value="option-2">Option 2</option>
    <option value="option-3">Option 3</option>
    <option value="option-4">Option 4</option>
    <option value="option-5">Option 5</option>
    <option value="option-6">Option 6</option>
  </select>
</div>