/*------------------------------------*\
    $WELCOME
    :: Demo page
\*------------------------------------*/

.welcome {
    max-width: $wrapper-width;
    margin: 0 auto;

    &__grid-demo {
        width: 80%;
    }

    h5 {
        margin: 10px 0 7px;
        font-weight: 300;
    }

    .grid__item > div {
        min-height: 80px;
        margin-bottom: 30px;
        border: 1px solid $color--primary;
    }

    .square  {
        .grid__item > div {
            height: 0;
            min-height: auto;
            padding-bottom: 100%;
        }
    }
}
