{% spaceless %}
  <div class="glossary">
    <div class="glossary__left">
      <div class="glossary__search-heading">Search glossary</div>
      <input class="glossary__search" type="text" placeholder="Lookup&hellip;">
      <div class="glossary__browse">Browse by letter</div>
      <ul class="glossary__keyboard">
        <button class="glossary__keyboard-letter">A</button>
        <button class="glossary__keyboard-letter">B</button>
        <button class="glossary__keyboard-letter">C</button>
        <button class="glossary__keyboard-letter">D</button>
        <button class="glossary__keyboard-letter">E</button>
        <button class="glossary__keyboard-letter">F</button>
        <button class="glossary__keyboard-letter glossary__keyboard-letter--active">G</button>
        <button class="glossary__keyboard-letter">H</button>
        <button class="glossary__keyboard-letter">I</button>
        <button class="glossary__keyboard-letter glossary__keyboard-letter--disabled">J</button>
        <button class="glossary__keyboard-letter">K</button>
        <button class="glossary__keyboard-letter">L</button>
        <button class="glossary__keyboard-letter">M</button>
        <button class="glossary__keyboard-letter">N</button>
        <button class="glossary__keyboard-letter">O</button>
        <button class="glossary__keyboard-letter">P</button>
        <button class="glossary__keyboard-letter glossary__keyboard-letter--disabled">Q</button>
        <button class="glossary__keyboard-letter">R</button>
        <button class="glossary__keyboard-letter">S</button>
        <button class="glossary__keyboard-letter">T</button>
        <button class="glossary__keyboard-letter">U</button>
        <button class="glossary__keyboard-letter">V</button>
        <button class="glossary__keyboard-letter glossary__keyboard-letter--disabled">W</button>
        <button class="glossary__keyboard-letter">X</button>
        <button class="glossary__keyboard-letter glossary__keyboard-letter--disabled">Y</button>
        <button class="glossary__keyboard-letter glossary__keyboard-letter--disabled">Z</button>
      </ul>
    </div>
    <div class="glossary__right">
      <ul class="glossary__results">
        <div class="glossary__results-heading">Found 6 results</div>
        <li class="glossary__result">
          <div class="glossary__result-border"></div>
          <div class="glossary__result-heading">GMO</div>
          <div class="glossary__result-content">Genetically Modified Organism</div>
        </li>
        <li class="glossary__result">
          <div class="glossary__result-border"></div>
          <div class="glossary__result-heading">Generalisable</div>
          <div class="glossary__result-content">The extent to which the findings of a clinical study can be reliably extrapolated from the subjects who participated in the study to a broader patient population and a broader range of clinical settings</div>
        </li>
        <li class="glossary__result">
          <div class="glossary__result-border"></div>
          <div class="glossary__result-heading">GTAC <span class="glossary__noun">Noun</span></div>
          <div class="glossary__result-content">Gene Therapy Advisory Committee</div>
        </li>
        <li class="glossary__result">
          <div class="glossary__result-border"></div>
          <div class="glossary__result-heading">GMC</div>
          <div class="glossary__result-content">General Medical Council</div>
        </li>
        <li class="glossary__result">
          <div class="glossary__result-border"></div>
          <div class="glossary__result-heading">GCP</div>
          <div class="glossary__result-content">Good Clinical Practice</div>
        </li>
      </ul>
    </div>
  </div>
{% endspaceless %}