{% spaceless %}
  <div class="glossary">
    <div class="glossary__left">
      <div class="glossary__search-heading">Search glossary</div>
      <input class="glossary__search" type="text" placeholder="Lookup&hellip;">
      <div class="glossary__browse">Browse by letter</div>
      <ul class="glossary__keyboard">
        <button class="glossary__keyboard-letter">A</button>
        <button class="glossary__keyboard-letter">B</button>
        <button class="glossary__keyboard-letter">C</button>
        <button class="glossary__keyboard-letter">D</button>
        <button class="glossary__keyboard-letter">E</button>
        <button class="glossary__keyboard-letter">F</button>
        <button class="glossary__keyboard-letter glossary__keyboard-letter--active">G</button>
        <button class="glossary__keyboard-letter">H</button>
        <button class="glossary__keyboard-letter">I</button>
        <button class="glossary__keyboard-letter glossary__keyboard-letter--disabled">J</button>
        <button class="glossary__keyboard-letter">K</button>
        <button class="glossary__keyboard-letter">L</button>
        <button class="glossary__keyboard-letter">M</button>
        <button class="glossary__keyboard-letter">N</button>
        <button class="glossary__keyboard-letter">O</button>
        <button class="glossary__keyboard-letter">P</button>
        <button class="glossary__keyboard-letter">Q</button>
        <button class="glossary__keyboard-letter">R</button>
        <button class="glossary__keyboard-letter">S</button>
        <button class="glossary__keyboard-letter">T</button>
        <button class="glossary__keyboard-letter">U</button>
        <button class="glossary__keyboard-letter">V</button>
        <button class="glossary__keyboard-letter">W</button>
        <button class="glossary__keyboard-letter">X</button>
        <button class="glossary__keyboard-letter">Y</button>
        <button class="glossary__keyboard-letter">Z</button>
      </ul>
    </div>
    <div class="glossary__right"></div>
  </div>
{% endspaceless %}