{% spaceless %}
  <div class="glossary">
    <div class="glossary__left">
      <div class="glossary__search-heading">Search glossary</div>
      <input class="glossary__search" type="text" placeholder="Lookup&hellip;">
      <div class="glossary__browse">Browse by letter</div>
      <div class="keyboard">
        <button class="keyboard__letter">
          <div class="keyboard__letter-content"><span>A</span></div>
        </button>
        <button class="keyboard__letter">
          <div class="keyboard__letter-content"><span>B</span></div>
        </button>
        <button class="keyboard__letter">
          <div class="keyboard__letter-content"><span>C</span></div>
        </button>
        <button class="keyboard__letter">
          <div class="keyboard__letter-content"><span>D</span></div>
        </button>
        <button class="keyboard__letter">
          <div class="keyboard__letter-content"><span>E</span></div>
        </button>
        <button class="keyboard__letter keyboard__letter--active">
          <div class="keyboard__letter-content"><span>F</span></div>
        </button>
        <button class="keyboard__letter">
          <div class="keyboard__letter-content"><span>G</span></div>
        </button>
        <button class="keyboard__letter">
          <div class="keyboard__letter-content"><span>H</span></div>
        </button>
        <button class="keyboard__letter keyboard__letter--disabled">
          <div class="keyboard__letter-content"><span>I</span></div>
        </button>
        <button class="keyboard__letter">
          <div class="keyboard__letter-content"><span>J</span></div>
        </button>
        <button class="keyboard__letter">
          <div class="keyboard__letter-content"><span>K</span></div>
        </button>
      </div>
    </div>
    <div class="glossary__right">
      <ul class="glossary__results">
        <div class="glossary__results-heading">Found 6 results</div>
        <li class="glossary__result js-border-result">
          <div class="glossary__result-border"></div>
          <div class="glossary__result-heading">GMO</div>
          <div class="glossary__result-content">Genetically Modified Organism</div>
        </li>
        <li class="glossary__result js-border-result">
          <div class="glossary__result-border js-border-result__border"></div>
          <div class="glossary__result-heading js-border-result__heading">Generalisable</div>
          <div class="glossary__result-content">The extent to which the findings of a clinical study can be reliably extrapolated from the subjects who participated in the study to a broader patient population and a broader range of clinical settings</div>
        </li>
        <li class="glossary__result js-border-result">
          <div class="glossary__result-border js-border-result__border"></div>
          <div class="glossary__result-heading js-border-result__heading">GTAC <span class="glossary__noun">Noun</span></div>
          <div class="glossary__result-content">Gene Therapy Advisory Committee</div>
        </li>
        <li class="glossary__result js-border-result">
          <div class="glossary__result-border js-border-result__border"></div>
          <div class="glossary__result-heading js-border-result__heading">GMC</div>
          <div class="glossary__result-content">General Medical Council</div>
        </li>
        <li class="glossary__result js-border-result">
          <div class="glossary__result-border js-border-result__border"></div>
          <div class="glossary__result-heading js-border-result__heading">GCP</div>
          <div class="glossary__result-content">Good Clinical Practice</div>
        </li>
      </ul>
    </div>
  </div>
{% endspaceless %}