{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div class="committee-page-body">
        {% spaceless %}
            <div class="committee-page-body__content">

                <div class="committee-list">
                    <h1 class="committee-list__heading">{{ page.title }}</h1>
                    <dl>
                        {% with previous_names=page.previous_names.all %}
                            {% if previous_names %}

                                <div class="committee-list__item">
                                    <dt>Previous name(s)</dt>
                                    <dd>
                                        {{ previous_names|join:", " }}
                                    </dd>
                                </div>

                            {% endif %}
                        {% endwith %}

                        {% if page.chair %}
                            <div class="committee-list__item">
                                <dt>Chair</dt>
                                <dd>{{ page.chair }}</dd>
                            </div>
                        {% endif %}

                        {% if page.rec_manager %}
                            <div class="committee-list__item">
                                <dt>REC Manager</dt>
                                <dd>{{ page.rec_manager }}</dd>
                            </div>
                        {% endif %}

                        {% if page.rec_assistant %}
                            <div class="committee-list__item">
                                <dt>REC Assistant</dt>
                                <dd>{{ page.rec_assistant }}</dd>
                            </div>
                        {% endif %}

                        {% with phone_numbers=page.phone_numbers.all %}
                            {% if phone_numbers %}
                                <div class="committee-list__item">
                                    <dt>Phone number{{ phone_numbers|length|pluralize }}</dt>
                                    <dd>
                                        {% for phone_number in phone_numbers %}
                                            <a href="tel:{{ phone_number|cut:" " }}">
                                                {{ phone_number }}</a>{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </dd>
                                </div>
                            {% endif %}
                        {% endwith %}

                        {% with email_addresses=page.email_addresses.all %}
                            {% if email_addresses %}
                                <div class="committee-list__item">
                                    <dt>Email address{{ email_addresses|length|pluralize:"es" }}</dt>
                                    <dd>
                                        {% for email_address in email_addresses %}
                                            <a href="mailto:{{ email_address }}">
                                                {{ email_address }}</a>{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </dd>
                                </div>
                            {% endif %}
                        {% endwith %}

                        {% if page.hra_office_name %}
                            <div class="committee-list__item">
                                <dt>HRA Office name</dt>
                                <dd>{{ page.hra_office_name }}</dd>
                            </div>
                        {% endif %}

                        {% if page.region %}
                            <div class="committee-list__item">
                                <dt>Region/Nation</dt>
                                <dd>{{ page.get_region_display }}</dd>
                            </div>
                        {% endif %}

                        {% if page.usual_meeting_venue %}
                            <div class="committee-list__item">
                                <dt>Usual meeting venue</dt>
                                <dd>{{ page.usual_meeting_venue }}</dd>
                            </div>
                        {% endif %}

                        {% if page.usual_meeting_time %}
                            <div class="committee-list__item">
                                <dt>Usual meeting time</dt>
                                <dd>{{ page.usual_meeting_time }}</dd>
                            </div>
                        {% endif %}

                        {% if page.committee_types.count %}
                            <div class="committee-list__item">
                                <dt>Committee types</dt>
                                {% for type in page.committee_types.all %}
                                    <dd>{{ type.committee_type }}</dd>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if page.committee_flags.count %}
                            <div class="committee-list__item">
                                <dt>Committee flags</dt>
                                {% for flag in page.committee_flags.all %}
                                    <dd>{{ flag.committee_flag }}</dd>
                                {% endfor %}
                            </div>
                        {% endif %}

                    </dl>
                </div>

            </div>
            <div class="committee-page-body__table-wrapper">

                {% if upcoming_meeting_dates %}

                    <div class="committee-table">
                        <h2>Meeting Dates</h2>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="td">Day</th>
                                    <th class="td">Month</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for meeting_date in upcoming_meeting_dates %}
                                    <tr>
                                        <td>{{ meeting_date.date|date:"jS" }}</td>
                                        <td>{{ meeting_date.date|date:"M y" }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                {% endif %}

            </div>
        {% endspaceless %}
    </div>
{% endblock %}
