{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    <div class="results-container results-container--blue">
        {% spaceless %}
            <div class="results-container__left">

                <div class="search-filters">
                    <form action="" method="get" role="search" class="js-main-search-form">

                        <div class="search-filters__heading">Search results</div>
                        <input name="query" class="search-filters__search" type="text" placeholder="Search&hellip;"
                               {% if search_query %}value="{{ search_query }}"{% endif %}
                        >
                        <input type="submit" class="search-filters__submit" value="">
                        <div class="search-filters__filter-main-heading">Filter results</div>

                        {% if committee_region_choices %}
                            <div class="search-filters__section-heading">Region</div>
                            <label class="custom-select__label custom-select--blue__label"
                                   for="custom-select--blue__select">
                                Region
                            </label>
                            <div class="custom-select custom-select--blue">
                                <select name="committee_region" id="custom-select custom-select--blue__select">
                                    <option value="">All Regions</option>

                                    {% for region_key, region_display_name in committee_region_choices %}
                                        <option value="{{ region_key }}"
                                                {% if region_key == selected_committee_region %}selected{% endif %}
                                        >
                                            {{ region_display_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}

                        {% if committee_types %}

                            <div class="search-filters__section-heading">Committee Type</div>
                            <label class="custom-select__label custom-select--blue__label"
                                   for="custom-select--blue__select">
                                Committee Type
                            </label>
                            <div class="custom-select custom-select--blue">

                                <select name="committee_type" id="custom-select custom-select--blue__select">
                                    <option value="">All Committee Types</option>

                                    {% for committee_typee in committee_types %}
                                        <option value="{{ committee_typee.pk }}"
                                                {% if committee_typee.pk == selected_committee_type_pk %}selected{% endif %}
                                        >
                                            {{ committee_typee.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                        {% endif %}

                        {% if committee_flags %}
                            <div class="search-filters__section-heading">Committee Flag</div>
                            {% for committee_flag in committee_flags %}

                                <div class="checkbox">
                                    <input name="committee_flag" type="checkbox"
                                           id="committee_flag-{{ committee_flag.pk }}"
                                           value="{{ committee_flag.pk }}"
                                           {% if committee_flag.pk in selected_committee_flag_pks %}checked{% endif %}
                                    >
                                    <label class="checkbox-label" for="committee_flag-{{ committee_flag.pk }}">
                                        {{ committee_flag }}
                                    </label>
                                </div>

                            {% endfor %}
                        {% endif %}

                    </form>
                </div>

            </div>
            <div class="results-container__right">

                {% if page.introduction %}
                    <article class="article">
                        {{ page.introduction|richtext }}
                    </article>
                {% endif %}

                {% if committee_pages and calendar_matrix %}

                    <div class="table-navigation">
                        {% spaceless %}
                            <div class="grid">
                                <div class="grid__item one-quarter mobile--one-whole">
                                    <button class="table-navigation__button table-navigation__button--left js-table-left"></button>
                                </div>
                                <div class="grid__item two-quarters mobile--one-whole">
                                    <div class="table-navigation__heading">Meeting Dates</div>
                                </div>
                                <div class="grid__item one-quarter mobile--one-whole">
                                    <button class="table-navigation__button table-navigation__button--right js-table-right"></button>
                                </div>
                            </div>
                        {% endspaceless %}
                    </div>

                    <table class="table table--pinned">
                        <thead>
                        <tr>
                            <th>Committee</th>
                            {% for committee_page in committee_pages %}
                                <td>
                                    <a href="{% pageurl committee_page %}">
                                        {{ committee_page.title }}
                                    </a>
                                </td>
                            {% endfor %}
                        </tr>
                        </thead>

                        <tbody>

                        {% for meeting_month, all_meetings in calendar_matrix %}
                            <tr>
                                <td>{{ meeting_month|date:"M y" }}</td>

                                {% for committee_meetings in all_meetings %}
                                    <td>
                                        {% for committee_meeting in committee_meetings %}
                                            {{ committee_meeting|date:"jS" }}{% if not forloop.last %}, {% endif %}
                                        {% empty %}
                                            No meeting
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>

                {% else %}
                    <div class="results-container__heading">
                        No results found.
                    </div>
                {% endif %}

            </div>
        {% endspaceless %}
    </div>
{% endblock %}
