<div class="results-container">
  {% spaceless %}
  <div class="results-container__left">
    {% include "molecules-search-filters" %}
  </div>
  <div class="results-container__right">
    {% include "molecules-results-listing" %}
  </div>
  {% endspaceless %}
</div>