<div class="results-container results-container--purple">
  {% spaceless %}
  <div class="results-container__left">
    {% include "molecules-search-filters--purple" %}
  </div>
  <div class="results-container__right">
    {% include "molecules-results-listing" %}
  </div>
  {% endspaceless %}
</div>