<div class="results-container results-container--blue">
  {% spaceless %}
  <div class="results-container__left">
    {% include "molecules-search-filters" %}
  </div>
  <div class="results-container__right">
    <article class="article">
      <p>Please ensure you are aware of the latest guidance about applying for approvals before you plan and book your REC review.</p>
      <p>Please note some of our RECs have merged, closed or changed name. To book a REC meeting please contact the Central Booking Service.</p>
    </article>
  </div>
  {% endspaceless %}
</div>