<div class="notification notification--default">
  <div class="notification__heading">Notification</div>
  <p class="notification__content">
    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cuabitur blandit tempus.
  </p>
  <button class="notification__close"></button>
</div>