{% extends "base.html" %}
{% load static wagtailcore_tags wagtailsearchpromotions_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}{% if search_query %}Search results for &ldquo;{{ search_query }}&rdquo;{% else %}Search
{% endif %}{% endblock %}

{% block content %}

    <div class="results-container results-container--blue">
        {% spaceless %}
            <div class="results-container__left">

                <div class="search-filters">
                    <div class="search-filters__heading">Search results</div>

                    <form action="{% url 'search' %}" method="get" role="search" class="js-main-search-form">
                        <input class="search-filters__search" name="query" type="text" placeholder="Search&hellip;"
                                {% if search_query %}
                               value="{{ search_query }}"{% endif %}
                        >


                        <div class="search-filters__filter-main-heading">Filter by type</div>
                        {#<div class="search-filters__section-heading">Filter by type</div>#}

                        {% for page_type in page_types %}
                            <div class="checkbox">
                                <input type="checkbox" name="type"
                                       id="page_type-{{ page_type.pk }}"
                                       value="{{ page_type.pk }}"
                                       {% if page_type.pk in selected_page_type_pks %}checked{% endif %}
                                >
                                <label class="checkbox-label"
                                       for="page_type-{{ page_type.pk }}"
                                >
                                    {{ page_type.name }}
                                </label>
                            </div>
                        {% endfor %}

                    </form>
                </div>

            </div>
            <div class="results-container__right">
                {% get_search_promotions search_query as search_picks %}

                {% if search_results or search_picks %}

                    {% if search_query %}
                        {% with count=search_results.paginator.count|add:search_picks.count %}
                            <div class="results-container__heading">
                                {{ count }} result{{ count|pluralize }} for <span>{{ search_query }}</span>
                            </div>
                        {% endwith %}
                    {% endif %}

                    <ul class="results-listing">

                        {% for pick in search_picks %}
                            <li>
                                {% include "includes/listings/generic_listing_item.html" with pick=pick item=pick.page.specific %}
                            </li>
                        {% endfor %}

                        {% for result in search_results %}
                            <li>
                                {% include "includes/listings/generic_listing_item.html" with item=result.specific %}
                            </li>
                        {% endfor %}

                    </ul>

                    {% include "includes/pagination.html" with subpages=search_results %}

                {% else %}
                    <div class="results-container__heading">
                        No results found.
                    </div>
                {% endif %}
            </div>
        {% endspaceless %}
    </div>


{% endblock %}
