<div class="swatches">
  <div class="swatch swatch--primary"><span>Blue</span></div>
  <div class="swatch swatch--secondary"><span>Light blue</span></div>
  <div class="swatch swatch--tertiary"><span>Cyan</span></div>
  <div class="swatch swatch--quaternary"><span>Yellow</span></div>
  <div class="swatch swatch--quinary"><span>Purple</span></div>
  <div class="swatch swatch--senary"><span>Dark grey</span></div>
  <div class="swatch swatch--septenary"><span>Light grey</span></div>
</div>