<header class="site-header">
  {% spaceless %}
    <div class="grid">
      <div class="grid__item two-tenths">
        <a href="" class="site-header__logo">
          <svg height="63px" width="134px">
            <use xlink:href="#logo"></use>
          </svg>
        </a>
      </div>
      <div class="grid__item eight-tenths site-header__menu-trigger-container">
        <button class="site-header__menu-trigger js-mobile-menu-trigger">Menu</button>
      </div>
      <div class="grid__item eight-tenths">
        <div class="site-header__right js-mobile-menu">
          {% include "molecules-main-menu" %}
          <input type="text" class="site-header__search" placeholder="Search&hellip;">
        </div>
      </div>
    </div>
  {% endspaceless %}
</header>