<form class="default-form">
  <label for="first-name">Name <span>&ndash; required</span></label>
  <input id="first-name" type="text" name="textfield" class="default-input">

  <label for="email">Email <span>&ndash; required</span></label>
  <input id="email" type="email" name="textfield" class="default-input">

  <label for="phone-number" class="required-field">Phone number</label>
  <input id="phone-number" type="text" name="textfield" class="default-input">

  <label for="message">Message <span>&ndash; required</span></label>
  <textarea id="message" name="messagetext" class="default-textarea"></textarea>

  <input type="submit" value="Send email" class="default-submit">
</form>