<div class="contact">
  {% spaceless %}
  <div class="contact__left">
    <h1 class="contact__heading">
      Contact us
    </h1>
    {% include "molecules-contact-form" %}
  </div>
  <div class="contact__right"></div>
  {% endspaceless %}
</div>