<div class="contact">
  {% spaceless %}
  <div class="contact__left">
    <h1 class="contact__heading">
      Contact us
    </h1>
    {% include "molecules-contact-form" %}
  </div>
  <div class="contact__right">
    <div class="contact__content">
      <p>Donec id elit non mi porta gravida et eget metus. Praesent commodo cursus magna, vel scelerisque nisl consetetur et. Integer posuere erate a ante venenatis dapibus posuere velit aliquet.</p>
      <div class="contact__address">
        <div>Health Research Authority</div>
        <div>Skipton House</div>
        <div>80 London Road</div>
        <div>London</div>
        <div>SE1 6LH</div>
      </div>
      <div class="contact__address">
        <div>Health Research Authority</div>
        <div>Skipton House</div>
        <div>80 London Road</div>
        <div>London</div>
        <div>SE1 6LH</div>
      </div>
    </div>
  </div>
  {% endspaceless %}
</div>