<div class="faq-page">
  {% spaceless %}
  <div class="faq-panel faq-panel--questions">
    <h1 class="faq-panel__heading">FAQs</h1>
    <ul class="faq-questions">

      {# Question begin #}
      <li class="faq-questions__item faq-questions__item--selected" data-faq-question="0">
        <a href="">Question title</a>
      </li>
      {# Question end #}

      {# Question begin #}
      <li class="faq-questions__item" data-faq-question="1">
        <a href="">Second question title</a>
      </li>
      {# Question end #}

      {# Question begin #}
      <li class="faq-questions__item" data-faq-question="2">
        <a href="">Long question title lorem ipsum dolor sit amet sed augue eu mauris hendrerit euismod</a>
      </li>
      {# Question end #}

    </ul>
  </div>
  <div class="faq-panel faq-panel--answers faq-panel--fixed">
    <ul class="faq-answers">

      {# Answer begin #}
      <li class="faq-answers__item faq-answers__item--selected faq-answers__item--display" data-faq-answer="0">
        <button class="button button--bare faq-answers__close-answer"></button>
        <h3>Answer heading</h3>
        <div class="rich-text">
          <p>Answer content</p>
        </div>
      </li>
      {# Answer end #}

      {# Answer begin #}
      <li class="faq-answers__item" data-faq-answer="1">
        <button class="button button--bare faq-answers__close-answer"></button>
        <h3>Second answer heading</h3>
        <div class="rich-text">
          <p>Second answer content</p>
        </div>
      </li>
      {# Answer end #}

      {# Answer begin #}
      <li class="faq-answers__item" data-faq-answer="2">
        <button class="button button--bare faq-answers__close-answer"></button>
        <h3>Long answer heading</h3>
        <div class="rich-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada euismod nunc eget convallis. Suspendisse potenti. Morbi elementum volutpat mi semper dapibus. Nullam sed augue eu mauris hendrerit euismod non et nulla. Nulla facilisi. Vestibulum lacinia lectus ipsum, eu bibendum est vehicula ac. Nam placerat, lacus quis fringilla euismod, turpis ligula blandit orci, nec pretium dolor sapien ac elit. Nullam consectetur nibh at metus euismod maximus.</p>

          <p>In eget neque elementum, lobortis enim sit amet, dignissim lacus. Vestibulum gravida elit eu enim tincidunt, eu suscipit ante pulvinar. Mauris faucibus ornare dui et pulvinar. Fusce nec odio massa. Pellentesque consequat in dui nec eleifend. Quisque eu dolor vestibulum tellus ornare dictum vitae quis ligula. Sed at pellentesque nulla, id ultricies leo. Etiam ut tristique leo, non consequat purus. Aenean mollis dolor sed justo finibus placerat. Duis eget ligula at est ultrices hendrerit et vitae quam.</p>
        </div>
      </li>
      {# Answer end #}

    </ul>
  </div>
  {% endspaceless %}
</div>