{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    <div class="hero hero--slim">
        <div class="hero__content">
            <div class="hero__breadcrumbs">
                {% include 'navigation/breadcrumbs.html' %}
            </div>
            <h1 class="hero__heading">{{ page.title }}</h1>
            <div class="hero__date">
                {# Display date of the most recent NewsPage #}
                Last updated on <span>{{ news.0.display_date|date }}</span>
            </div>
        </div>
    </div>

    <div class="default-body">
        {% spaceless %}
            <div class="grid grid--center">
                <div class="grid__item seven-tenths tablet--one-whole">
                    <div class="site-body site-body--no-sidebar">
                        <div class="site-body__inner site-body__inner">

                            {% include 'includes/teasers/teaser_default.html' with section_pages=page.featured_pages.all %}

                            {% if news %}
                                <ul class="results-listing">

                                    {% for news_item in news %}

                                        <li class="results-listing__item js-border-result">
                                            <a href="{% pageurl news_item %}">
                                                <div class="results-listing__item-border js-border-result__border"></div>
                                                <div class="results-listing__item-heading js-border-result__heading">
                                                    {{ news_item.listing_title|default:news_item.title }}
                                                </div>
                                                <ul class="results-listing__item-meta">

                                                    <li class="date">{{ news_item.display_date|date }}</li>

                                                    {% if news_item.author %}
                                                        <li class="author">
                                                            Author: <span>{{ news_item.author }}</span>
                                                        </li>
                                                    {% endif %}

                                                    {% if news_item.categories %}
                                                        <li class="category">
                                                            {{ news_item.categories|join:", " }}
                                                        </li>
                                                    {% endif %}

                                                </ul>
                                                {% if news_item.listing_summary %}
                                                    <div class="results-listing__item-content">
                                                        {{ news_item.listing_summary }}
                                                    </div>
                                                {% endif %}
                                            </a>
                                        </li>

                                    {% endfor %}

                                </ul>

                                {% include "includes/pagination.html" with subpages=news %}
                            {% else %}
                                {# no items #}
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        {% endspaceless %}
    </div>

{% endblock %}
