{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    <div class="hero hero--slim">
        <div class="hero__content">
            <div class="hero__breadcrumbs">
                {% include 'navigation/breadcrumbs.html' %}
            </div>
            <h1 class="hero__heading">{{ page.title }}</h1>
            <div class="hero__date">
                {# Display date of the most recent NewsPage #}
                Last updated on <span>{{ news.0.display_date|date }}</span>
            </div>
        </div>
    </div>

    <div class="default-body">
        {% spaceless %}
            <div class="grid grid--full">
                <div class="grid__item three-tenths tablet--one-whole">
                    {% include 'includes/teasers/site_sidebar.html' with no_transparency=True page=page siblings=siblings %}

                </div>
                <div class="grid__item seven-tenths tablet--one-whole">
                    <div class="site-body site-body--restricted">
                        <div class="site-body__inner site-body__inner">

                            {% include 'includes/teasers/section_content.html' with section_pages=page.featured_pages.all %}
                            {# TODO:  #}
                            {#{% include "molecules-results-listing" %}#}
                        </div>
                    </div>
                </div>
            </div>
        {% endspaceless %}
    </div>


    <section class="listing">

        {% if news %}
            <ul role="list">
                {% for n in news %}
                    <li>
                        <a href="{% pageurl n %}">
                            {% if n.listing_image %}
                                {% image n.listing_image fill-450x300 %}
                            {% endif %}
                            <div>
                                <h2 role="listitem">
                                    {% if n.listing_title %}
                                        {{ n.listing_title }}
                                    {% else %}
                                        {{ n.title }}
                                    {% endif %}
                                </h2>
                                <span>{{ n.display_date }}</span>
                                {% if n.listing_summary %}
                                    <p>{{ n.listing_summary }}</p>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% include "includes/pagination.html" %}
        {% else %}
            {# no items #}
        {% endif %}
    </section>
{% endblock %}
