<div class="default-body event-page-body">
  {% spaceless %}
    <div class="grid grid--full">
      <div class="grid__item three-tenths tablet--one-whole">
        {% include "molecules-site-sidebar--no-transparency" %}
      </div>
      <div class="grid__item seven-tenths tablet--one-whole">
        <div class="site-body site-body--restricted">
          <div class="site-body__inner site-body__inner">
            <article class="article">
              <p>Event info &amp; Streamfield</p>
            </article>
            <div class="event-page-body__details">
              <h6>Event details</h6>
              <ul>
                <li>Friday 23rd June 2017 at 12:30 - 17:30</li>
                <li>Address Line 1</li>
                <li>Address Line 2</li>
                <li>etc</li>
              </ul>
              <div class="event-page-body__phone">
                <span>Phone:</span> 020 7666 8470
              </div>
            </div>
        </div>
      </div>
    </div>
  {% endspaceless %}
</div>