{% load wagtailcore_tags %}

{% with type=notification_settings.type %}
    {% if type %}

        <div class="notification notification--close {% if type == 'error' %}notification--error{% elif type == 'success' %}notification--success{% else %}notification--default{% endif %}"
             data-updated-at="{{ notification_settings.updated_at|date:"U" }}">
            <div class="notification__heading">{{ notification_settings.title }}</div>
            <div class="notification__content">
                {{ notification_settings.text|richtext }}
            </div>
            <button class="notification__close"></button>
        </div>

    {% endif %}
{% endwith %}
