{% load staticfiles wagtailcore_tags wagtailimages_tags %}

{% if page.related_pages.exists %}
    <div class="related-container">

    {% spaceless %}
        <div class="grid grid--wide">

            {% static 'dist/images/teaser.png' as default_listing_image %}
            {% for related_page in page.related_pages.all %}

                {# a related_page object links to the original page (related_page.source_page) and a related one (related_page.page) #}
                {% with specific_related_page=related_page.page.specific %}
                    {% if specific_related_page.live %}

                        <div class="grid__item one-third laptop--one-whole">
                            <a class="related" href="{% pageurl specific_related_page %}">
                                {% if specific_related_page.listing_image %}
                                    {% image specific_related_page.listing_image width-600 as listing_image %}
                                {% endif %}

                                <div class="related__image"
                                     style="background-image:url('{{ listing_image.url|default:default_listing_image }}')">
                                    <div class="related__meta">
                                        <div class="related__title">
                                            {{ specific_related_page.listing_title|default:specific_related_page.title }}
                                        </div>
                                    </div>
                                </div>
                                {% if specific_related_page.listing_summary %}
                                    <div class="related__description">
                                        <p>
                                            {{ specific_related_page.listing_summary }}
                                        </p>

                                        {% include 'includes/svg/default-arrow.html' %}
                                    </div>
                                {% endif %}
                            </a>
                        </div>

                    {% endif %}

                {% endwith %}
            {% endfor %}
        </div>
    {% endspaceless %}

    </div>
{% endif %}
