<div class="newsletter-signup">
  <div class="newsletter-signup__inner">
    <div class="newsletter-signup__heading">
      Stay up to date with latest news, updates to regulations and upcoming learning events
    </div>
    <div class="newsletter-signup__subheading">
      Sign up to our newsletter
    </div>
    <form class="newsletter-signup__form">
      {% spaceless %}
      <input class="newsletter-signup__input" type="text" placeholder="Name">
      <input class="newsletter-signup__input" type="text" placeholder="Email address">
      <input class="newsletter-signup__submit" type="submit" value="Sign up">
      {% endspaceless %}
    </form>
  </div>
</div>