{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div class="hero hero--inner">
        <div class="hero__content">
            <div class="hero__breadcrumbs">
                {% include "navigation/breadcrumbs.html" %}
            </div>
            <h1 class="hero__heading">{{ page.title }}</h1>

            {% if page.job_title %}
                <div class="hero__date">{{ page.job_title }}</div>
            {% endif %}

        </div>
    </div>

    <div class="standard-page-body">
        <div class="standard-page-body__wrapper">
            <div class="standard-page-body__content">
                <article class="article">

                    {# TODO: Needs styling #}
                    {% if page.photo %}
                        {% image page.photo fill-200x200-c75 style="float: left; margin: 5px 10px 0 0" %}
                    {% endif %}

                    {% if page.introduction %}
                        <p>{{ page.introduction }}</p>
                    {% endif %}

                    {% include_block page.biography %}

                </article>


                {% with parent_page=page.get_parent %}
                    <a href="{% pageurl parent_page %}" class="results-listing__back">
                        Back to {{ parent_page.title|lower }}
                    </a>
                {% endwith %}

            </div>
        </div>
    </div>


{% endblock %}
