{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div class="hero hero--slim hero--purple">
        <div class="hero__content">
            <div class="hero__breadcrumbs">
                {% include "navigation/breadcrumbs.html" %}
            </div>
            <h1 class="hero__heading">{{ page.title }}</h1>

            {% if page.job_title %}
                <div class="hero__date">{{ page.job_title }}</div>
            {% endif %}

        </div>
    </div>

    <div class="standard-page-body person-page">
        <div class="standard-page-body__wrapper standard-page-body__wrapper--flat">
            <div class="standard-page-body__content">
                <article class="article">
                    
                    {% if page.photo %}
                        {% spaceless %}
                        <div class="grid">
                            <div class="grid__item one-quarter tablet--one-whole">
                                <div class="person-page__image">
                                    {% image page.photo fill-170x170-c75 style="margin-bottom: 20px" %}
                                </div>
                            </div>
                            {% if page.introduction %}
                                <div class="grid__item three-quarters tablet--one-whole">
                                    <div class="person-page__bio">
                                        {{ page.introduction|richtext }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% endspaceless %}
                    {% elif page.introduction %}
                        <div class="article__intro">
                            {{ page.introduction|richtext }}
                        </div>
                    {% endif %}

                    {% include_block page.biography %}

                </article>


                {% with parent_page=page.get_parent %}
                    <a href="{% pageurl parent_page %}" class="results-listing__back person-page__back">
                        Back to {{ parent_page.title|lower }}
                    </a>
                {% endwith %}

            </div>
        </div>
    </div>


{% endblock %}
