<div class="default-body">
  {% spaceless %}
    <div class="grid grid--full">
      <div class="grid__item three-tenths tablet--one-whole">
        {% include "molecules-site-sidebar--no-transparency" %}
      </div>
      <div class="grid__item seven-tenths tablet--one-whole">
        <div class="site-body site-body--restricted">
          <div class="site-body__inner site-body__inner">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed lectus porta, convallis magna sed, laoreet ipsum. Donec et cursus nulla odio fringilla tristique.</h5>
            {% include "molecules-results-listing--people" %}
            <a href="" class="results-listing__back">Back to who we are</a>
          </div>
        </div>
      </div>
    </div>
  {% endspaceless %}
</div>