{% load wagtailcore_tags wagtailimages_tags static util_tags %}

<div class="wrapper">
    <div class="homepage-body__heading">{{ value.title }}</div>
    {% spaceless %}
        <div class="grid grid--wide">
            <div class="grid__item four-tenths tablet--one-whole">

                {% static 'images/teaser.png' as default_listing_image %}
                {% for teaser_page in value.featured_pages %}
                    {% if teaser_page.live %}
                        {% with teaser_page=teaser_page.specific %}

                            {% if teaser_page.listing_image %}
                                {% image teaser_page.listing_image width-600 as listing_image %}
                            {% endif %}

                            <a class="teaser" href="{% pageurl teaser_page %}">
                                <div class="teaser__image"
                                     style="background-image:url('{{ listing_image.url|default:default_listing_image }}')">
                                    <div class="teaser__meta">
                                        <div class="teaser__title">

                                            {% if value.display_meta_info %}
                                                <ul class="teaser__title__meta">
                                                    <li>
                                                        {{ teaser_page.display_date|default:teaser_page.latest_revision_created_at|date }}
                                                    </li>

                                                    {% page_verbose_names teaser_page as verbose_name %}
                                                    {% if verbose_name %}
                                                        <li>{{ verbose_name|join:", " }}</li>
                                                    {% endif %}
                                                </ul>
                                            {% endif %}

                                            {{ teaser_page.listing_title|default:teaser_page.title }}

                                        </div>
                                    </div>
                                </div>
                                {% if teaser_page.listing_summary %}
                                    <div class="teaser__description">
                                        <p>
                                            {{ teaser_page.listing_summary }}
                                        </p>
                                        {% include 'includes/svg/default-arrow.html' %}
                                    </div>
                                {% endif %}
                            </a>


                        {% endwith %}
                    {% endif %}
                {% endfor %}

            </div>
            <div class="grid__item six-tenths tablet--one-whole">
                <ul class="results-listing results-listing--flush">

                    {% for page in value.pages %}
                        {% if page.live %}

                            {% include 'includes/listings/generic_listing_item.html' with item=page.specific display_meta_info=value.display_meta_info %}

                        {% endif %}
                    {% endfor %}

                </ul>
            </div>
        </div>
    {% endspaceless %}
</div>
