/*------------------------------------*\
    $ERROR PAGE
\*------------------------------------*/

.error-page {
    position: relative;
    width: 100%;
    max-width: 900px;
    padding-top: 0;
    margin: 0 auto 40px;

    @include media-query(laptop) {
        padding-top: 95px;
    }

    @include media-query(wide) {
        width: 90%;
    }

    h1 {
        @include rem-font-size(60px);
        line-height: 1.2;
        color: $color--primary;
    }

    h2 {
        @include rem-font-size(26px);
        margin-bottom: 20px;
    }

    ul {
        padding-left: 20px;
        list-style: disc outside;
    }
}
