/*------------------------------------*\
    $STANDARD PAGE BODY
\*------------------------------------*/

.standard-page-body {
    position: relative;
    z-index: $z-milli;

    &__wrapper {
        max-width: 1100px;
        padding: 0 20px;
        margin: 0 auto;
        overflow: auto;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0, #fff 150px);
        transform: translate3d(0, -150px, 0);

        @include media-query(laptop) {
            background: #fff;
            transform: none;
        }

        &--flat {
            padding-bottom: 50px;
            background: none;
            transform: none;
        }
    }

    &__content {
        max-width: $standard-body-width;
        padding: 60px 0 40px;
        margin: 0 auto;

        @include media-query(laptop) {
            padding-top: 10px;
        }
    }
}
