{% extends "base.html" %}
{% load wagtailcore_tags staticfiles %}

{% block content %}

    <div class="glossary-page-body">

        {% spaceless %}
            <div class="glossary js-glossary" data-api-url="{% url 'wagtailapi:glossary_terms:listing' %}">
                <div class="glossary__left">
                    <div class="glossary__inner">
                        <h1 class="glossary__search-heading">Search glossary</h1>
                        <label class="visually-hidden" for="glossary-query">Search glossary</label>
                        <input id="glossary-query" class="glossary__search" type="text" placeholder="Lookup&hellip;" name="search" value="{{ request.GET.search|default:"" }}">
                        <div class="glossary__submit"></div>
                        <h2 class="glossary__browse">Browse by letter</h2>
                        <ol class="keyboard">
                            {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
                                <li>
                                    <button class="keyboard__letter keyboard__letter--disabled" data-keyboard-letter="{{ letter }}">
                                        <span class="keyboard__letter-content"><span>{{ letter|upper }}</span></span>
                                    </button>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
                <div class="glossary__right" role="region" aria-live="polite">
                    <h2 class="glossary__results-heading">
                        <noscript>
                            This page requires JavaScript.
                        </noscript>
                        <!-- Result title (something like "Found 6 results") -->
                    </h2>
                    <dl class="glossary__results">
                        <!-- Result items -->
                    </dl>
                </div>
            </div>
        {% endspaceless %}

    </div>

{% endblock %}
