{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    <div class="hero hero--with-caption">
        <div class="hero__caption">
            <div class="hero__caption-breadcrumbs">
                {% include 'navigation/breadcrumbs.html' %}
            </div>
            <h1 class="hero__caption-title">{{ page.title }}</h1>
            <h2 class="hero__caption-subtitle">{{ page.hero_introduction }}</h2>
        </div>
    </div>

    <div class="default-body">
        {% spaceless %}
            <div class="grid grid--full">
                <div class="grid__item three-tenths tablet--one-whole">

                    <aside class="site-sidebar">
                        <div class="site-sidebar__inner">
                            <h2 class="site-sidebar__heading">Within this section</h2>
                            <button class="site-sidebar__label"></button>
                            <ul class="site-sidebar__menu">

                                {% for sibling in siblings %}
                                    <li class="site-sidebar__menu-item {% if page.pk == sibling.pk %}site-sidebar__menu-item--active{% endif %}">
                                        {% include 'includes/svg/default-arrow.html' %}
                                        <a href="{% pageurl sibling %}">{{ sibling.title }}</a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </aside>

                </div>
                <div class="grid__item seven-tenths tablet--one-whole">

                    <div class="site-body">
                        <div class="site-body__inner">
                            <article class="article">
                                <h2>{{ page.title }}</h2>
                                <p>
                                    {{ page.introduction }}
                                </p>
                            </article>

                            {% spaceless %}
                                <div class="site-body__grid">
                                    <div class="grid grid--wide">
                                        <div class="grid__item three-fifths desktop--one-whole">
                                            <div class="grid grid--wide">

                                                {% static 'dist/images/teaser.png' as default_listing_image %}
                                                {% for teaser in page.section_pages.all %}
                                                    {% with teaser_page=teaser.page.specific %}
                                                        {% if teaser_page.live %}

                                                            <div class="grid__item one-half mobile--one-whole">

                                                                <a class="teaser" href="{% pageurl teaser_page %}">
                                                                    <div class="teaser__image"
                                                                         style="background-image:url('{{ teaser_page.listing_image|default:default_listing_image }}')">
                                                                        <div class="teaser__meta">
                                                                            <div class="teaser__title">
                                                                                {{ teaser_page.listing_title|default:teaser_page.title }}</div>
                                                                        </div>
                                                                    </div>
                                                                    {% if teaser_page.listing_summary %}
                                                                        <div class="teaser__description">
                                                                            <p>
                                                                                {{ teaser_page.listing_summary }}
                                                                            </p>
                                                                            {% include 'includes/svg/default-arrow.html' %}
                                                                        </div>
                                                                    {% endif %}
                                                                </a>

                                                            </div>

                                                        {% endif %}
                                                    {% endwith %}
                                                {% endfor %}

                                            </div>
                                        </div>

                                        {% if page.call_to_action %}

                                            <div class="grid__item two-fifths desktop--one-whole">
                                                <div class="grid grid--wide">
                                                    <div class="grid__item one-whole desktop--one-half mobile--one-whole">

                                                        {% include 'includes/call_to_action.html' with call_to_action=page.call_to_action %}

                                                    </div>
                                                </div>
                                            </div>

                                        {% endif %}

                                    </div>
                                </div>
                            {% endspaceless %}
                        </div>
                    </div>

                </div>
            </div>
        {% endspaceless %}
    </div>

{% endblock %}
