{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    {% image page.hero_image width-1600 as hero_image %}

    <div class="hero hero--inner"
         {% if hero_image %}style="background-size:cover;background-image: url('{{ hero_image.url }}')"{% endif %}
    >
        <div class="hero__content">
            <div class="hero__breadcrumbs">
                {% include "navigation/breadcrumbs.html" %}
            </div>
            <h1 class="hero__heading">{{ page.title }}</h1>
            <div class="hero__date">Last updated on <span>{{ page.latest_revision_created_at|date }}</span></div>
        </div>
    </div>

    <div class="standard-page-body">
        <div class="standard-page-body__wrapper">
            <div class="standard-page-body__content">
                <article class="article">

                    {% if page.introduction %}
                        <div class="article__intro">
                            {{ page.introduction|richtext }}
                        </div>
                    {% endif %}

                    {% include_block page.body %}

                </article>
            </div>
            <div class="related-container">
                {% include "includes/teasers/related_content.html" %}
            </div>
        </div>
    </div>
{% endblock %}
