{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    <div class="hero hero--with-caption">
        <div class="hero__caption">
            <div class="hero__caption-breadcrumbs">
                {% include 'navigation/breadcrumbs.html' %}
            </div>
            <h1 class="hero__caption-title">{{ page.title }}</h1>
            <h2 class="hero__caption-subtitle">{{ page.introduction }}</h2>
        </div>
    </div>

    <div class="default-body">
        {% spaceless %}
            <div class="grid grid--full">
                <div class="grid__item three-tenths tablet--one-whole">

                    <aside class="site-sidebar">
                        <div class="site-sidebar__inner">
                            <h2 class="site-sidebar__heading">Within this section</h2>
                            <button class="site-sidebar__label"></button>
                            <ul class="site-sidebar__menu">

                                {# TODO: Add actual links #}
                                {% for menuItem in sidebarMenu %}
                                    <li class="site-sidebar__menu-item {{ menuItem.activeState }}">
                                        <svg><use xlink:href="#default-arrow"></use></svg>
                                        <a href="#">{{ menuItem.label }}</a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </aside>

                </div>
                <div class="grid__item seven-tenths tablet--one-whole">

                    <div class="site-body">
                        <div class="site-body__inner">
                            <article class="article">
                                <h2>{{ page.title }}</h2>
                                <p>
                                    {{ page.introduction }}
                                </p>
                            </article>

                            {% spaceless %}
                                <div class="site-body__grid">
                                    <div class="grid grid--wide">
                                        <div class="grid__item three-fifths desktop--one-whole">
                                            <div class="grid grid--wide">

                                                {# TODO: Add actual teasers #}
                                                {% for teaser in teasers %}
                                                    <div class="grid__item one-half mobile--one-whole">
                                                        {# {% include "molecules-teaser-default" %}#}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="grid__item two-fifths desktop--one-whole">
                                            <div class="grid grid--wide">
                                                <div class="grid__item one-whole desktop--one-half mobile--one-whole">
                                                    {# TODO: Add actual call to action #}
                                                    {# {% include "molecules-teaser-related" %}#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endspaceless %}
                        </div>
                    </div>

                </div>
            </div>
        {% endspaceless %}
    </div>

{% endblock %}
