{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

    <div class="hero hero--with-caption">
        <div class="hero__caption">
            <div class="hero__breadcrumbs">
                {% include 'navigation/breadcrumbs.html' %}
            </div>
            <h1 class="hero__caption-title">{{ page.title }}</h1>
            <h2 class="hero__caption-subtitle">{{ page.hero_introduction }}</h2>
        </div>
    </div>

    <div class="default-body">
        {% spaceless %}
            <div class="grid grid--full">
                <div class="grid__item three-tenths tablet--one-whole">

                    {% include 'includes/teasers/site_sidebar.html' with page=page siblings=siblings %}

                </div>
                <div class="grid__item seven-tenths tablet--one-whole">

                    <div class="site-body">
                        <div class="site-body__inner">
                            {% if page.introduction %}
                                <article class="article">
                                    {{ page.introduction|richtext }}
                                </article>
                            {% endif %}

                            {% spaceless %}
                                <div class="site-body__grid">
                                    <div class="grid grid--wide">

                                        <div class="grid__item three-fifths desktop--one-whole">
                                            {% include 'includes/teasers/teaser_default.html' with section_pages=page.section_pages.all %}
                                        </div>

                                        {% if page.call_to_action %}

                                            <div class="grid__item two-fifths desktop--one-whole">
                                                <div class="grid grid--wide">
                                                    <div class="grid__item one-whole desktop--one-half mobile--one-whole">

                                                        {% include 'includes/call_to_action.html' with call_to_action=page.call_to_action %}

                                                    </div>
                                                </div>
                                            </div>

                                        {% endif %}

                                    </div>
                                </div>
                            {% endspaceless %}
                        </div>
                    </div>

                </div>
            </div>
        {% endspaceless %}
    </div>

{% endblock %}
