{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div class="hero hero--inner">
        <div class="hero__content">
            <div class="hero__breadcrumbs">
                {# TODO: Needs styling #}
                {# {% include "navigation/breadcrumbs.html" %}#}
            </div>
            {# TODO: Is this title? #}
            <h1 class="hero__heading">{{ page.title }}</h1>
            <div class="hero__date">Last updated on <span>01/01/01</span></div>
        </div>
    </div>

    <div class="standard-page-body">
        <div class="standard-page-body__wrapper">
            <div class="standard-page-body__content">
                <article class="article">
                    <h1>{{ page.title }}</h1>
                    <p>{{ page.introduction }}</p>

                    {% include_block page.body %}
                </article>
            </div>
            <div class="related-container">
                {% spaceless %}
                    <div class="grid grid--wide">
                        {% for relatedItem in related %}
                            <div class="grid__item one-third laptop--one-whole">
                                {# TODO: replace with real code. See includes/relatedcontent.html #}
                                {#{% include "molecules-related" %}#}
                            </div>
                        {% endfor %}
                    </div>
                {% endspaceless %}
            </div>
        </div>
    </div>


{% endblock %}
