<div class="blockquote">
  {% spaceless %}
  <div class="blockquote__image">
    <img src="http://placehold.it/100x100">
  </div>
  <div class="blockquote__content">
    <blockquote class="blockquote__quote">
      <p>Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna euismod</p>
      <p>Something else</p>
    </blockquote>
    <cite class="blockquote__cite">
      Curabitur blandit tempus porttitor. Aenean eu leo quam.
    </cite>
  </div>
  {% endspaceless %}
</div>