<article class="article">
  {% spaceless %}
  <div class="cta-structure">
    <div class="cta-structure__left">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus commodo nisl, sed tincidunt mauris aliquam sit amet. Donec at mi vel lorem tincidunt tempor a eu purus. Ut eleifend velit ut consectetur viverra. Morbi auctor, metus ac egestas sollicitudin, odio purus auctor lectus, eget malesuada risus sem sed nunc. Nullam semper diam urna, a vehicula purus tincidunt vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed sagittis cursus nulla, id convallis est aliquam eu. Nam ut libero vitae purus pulvinar pharetra. Cras rutrum diam ut dolor facilisis, non tincidunt velit facilisis. Vestibulum vitae lectus eget velit cursus finibus. Suspendisse euismod sodales risus a elementum.
      </p>
    </div>
    <div class="cta-structure__right">
      <a class="call-to-action" href="#">
        <h5 class="call-to-action__heading">
          HRA Approval: applicant guidance
        </h5>
        <p class="call-to-action__description">
          From 31st March 2016, HRA Approval is the process for the NHS in England. 
          <span>Read more</span>
        </p>
      </a>    
    </div>
  </div>
  {% endspaceless %}
</article>