<a class="call-to-action" href="#">
  <h5 class="call-to-action__heading">
    HRA Approval: applicant guidance
  </h5>
  <p class="call-to-action__description">
    From 31st March 2016, HRA Approval is the process for the NHS in England. 
    <span>Read more</span>
  </p>
</a>