<div class="highlight">
  {% spaceless %}
  <div class="highlight__left">
    <div class="highlight__heading">
      You cannot commence your study in the NHS in England until HRA Approval has been issued.
    </div>
    <p class="highlight__description">
      Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aeneean eu leo quam.
    </p>
  </div>
  <div class="highlight__right" style="background-image:url('http://placehold.it/800x300')"></div>
  {% endspaceless %}
</div>
