<div class="search-filters__section-heading">Date From (DD/MM/YY)</div>
<label for="date_from" class="custom-select__label">Filter by date</label>
<input class="search-filters__search" id="date_from" type="text" aria-haspopup="true">

<div class="search-filters__section-heading">Date To (DD/MM/YY)</div>
<label for="date_to" class="custom-select__label">Filter by date</label>
<input class="search-filters__search" id="date_to" type="text" aria-haspopup="true">
