<div class="search-filters__section-heading">Date (DD/MM/YY)</div>
<label for="date_from" class="custom-select__label">Filter by date</label>
<input class="js-datepicker search-filters__search" id="date_from" type="text" aria-haspopup="true">
