<div class="search-filters__section-heading">Date from (DD/MM/YY)</div>
<label for="date_from" class="custom-select__label custom-select--blue__label">Filter by date (date from)</label>
<input class="js-datepicker search-filters__search" id="date_from" type="text">
