{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="results-container results-container--blue">
        {% spaceless %}
            <div class="results-container__left">

                <div class="search-filters">
                    <div class="search-filters__heading">Research summaries</div>

                    <form action="{% pageurl page %}" method="get" role="search" class="js-main-search-form">
                        <input class="search-filters__search" name="query" type="text" placeholder="Search&hellip;"
                               {% if search_query %}value="{{ search_query }}"{% endif %}
                        >

                        <div class="search-filters__filter-main-heading">Filter results</div>

                        {% if display_research_types %}
                            <div class="search-filters__section-heading">Research type</div>
                            <label for="research_type" class="custom-select__label custom-select--blue__label">
                                Filter by research type
                            </label>
                            <div class="custom-select custom-select--blue">
                                <select id="research_type" name="research_type">
                                    <option value="">All studies</option>
                                    {% for key, name in display_research_types.items %}
                                        <option value="{{ key }}"
                                                {% if search_research_type == key %}selected="selected"{% endif %}
                                        >
                                            {{ name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}

                        <div class="search-filters__section-heading">Date from</div>
                        <label for="date_from" class="custom-select__label custom-select--blue__label">
                            Filter by date (date from)
                        </label>
                        <input class="search-filters__search" id="date_from" name="date_from" type="text"
                               {% if search_date_from %}value="{{ search_date_from }}"{% endif %}
                        >


                        <div class="search-filters__section-heading">Date to</div>
                        <label for="date_to" class="custom-select__label custom-select--blue__label">
                            Filter by date (date to)
                        </label>
                        <input class="search-filters__search" id="date_to" name="date_to" type="text"
                               {% if search_date_to %}value="{{ search_date_to }}"{% endif %}
                        >

                        <input type="submit" class="search-filters__submit" value="">
                    </form>
                </div>

            </div>
            <div class="results-container__right">

                <article class="article">

                    {% if page.updated_at %}
                        <p>Last updated: {{ page.updated_at|date }}</p>
                    {% endif %}

                    {% if page.introduction %}
                        <div class="article__intro">
                            {{ page.introduction|richtext }}
                        </div>
                    {% endif %}

                </article>

                {% if search_results %}

                    {% with count=search_results.paginator.count %}
                        <div class="results-container__heading">
                            {{ count }} record{{ count|pluralize }}
                            {% if search_query %}for <span>{{ search_query }}</span>{% endif %}
                        </div>
                    {% endwith %}

                    <ul class="results-listing">

                        {% for result in search_results %}
                            <li>
                                {% include "research_summaries/includes/research_summary_listing_item.html" with item=result %}
                            </li>
                        {% endfor %}

                    </ul>

                    {% include "includes/pagination.html" with subpages=search_results %}

                {% else %}
                    <div class="results-container__heading">
                        No results found.
                    </div>
                {% endif %}
            </div>
        {% endspaceless %}
    </div>

{% endblock %}
