<div class="default-body">
  {% spaceless %}
    <div class="grid grid--full">
      <div class="grid__item three-tenths">
        {% include "molecules-site-sidebar" %}
      </div>
      <div class="grid__item seven-tenths">
        {% include "molecules-site-body" %}
      </div>
    </div>
  {% endspaceless %}
</div>