<div class="site-body">
  <div class="site-body__inner">
    <article class="article">
      <h1>{{ title }}</h1>
      <p>
        {{ introduction }} 
      </p>
    </article>

    {% spaceless %}
    <div class="site-body__grid">
      <div class="grid grid--wide">
        <div class="grid__item three-fifths">
          <div class="grid grid--wide">
            {% for teaser in teasers %}
              <div class="grid__item one-half">
                {% include "molecules-teaser-default" %}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="grid__item two-fifths">
          {% include "molecules-teaser-search" %}
          {% include "molecules-teaser-related" %}
        </div>
      </div>
    </div>
    {% endspaceless %}
  </div>
</div>