{% if subpages.has_previous or subpages.has_next %}

    <nav role="navigation" aria-label="Pagination">
        <ul class="pagination">

            <li class="pagination__back {% if subpages.has_previous %}pagination__back--active{% endif %}">
                {% if subpages.has_previous %}
                    <a href="?page={{ subpages.previous_page_number }}{% if search_query %}&amp;query={{ search_query|urlencode }}{% endif %}{% if extra_url_params %}&amp;{{ extra_url_params }}{% endif %}"><span>Back</span></a>
                {% else %}
                    {# Dispaly array, but it should be disabled #}
                    <span></span>
                {% endif %}
            </li>


            {% if show_first %}
                {% include "includes/page_link.html" with page_number=1 %}
            {% endif %}

            {% if show_first_hellip %}
                <li class="pagination__item disabled"><span aria-hidden="true">&hellip;</span></li>
            {% endif %}

            {% for page_number in page_numbers %}
                {% include "includes/page_link.html" with page_number=page_number %}
            {% endfor %}

            {% if show_last_hellip %}
                <li class="pagination__item disabled"><span aria-hidden="true">&hellip;</span></li>
            {% endif %}

            {% if show_last %}
                {% include "includes/page_link.html" with page_number=subpages.paginator.num_pages %}
            {% endif %}


            <li class="pagination__forward {% if subpages.has_next %}pagination__forward--active{% endif %}">
                {% if subpages.has_next %}
                    <a href="?page={{ subpages.next_page_number }}{% if search_query %}&amp;query={{ search_query|urlencode }}{% endif %}{% if extra_url_params %}&amp;{{ extra_url_params }}{% endif %}"><span>Forward</span></a>
                {% else %}
                    {# Dispaly array, but it should be disabled #}
                    <span></span>
                {% endif %}
            </li>

        </ul>

    </nav>

{% endif %}
