<div class="committee-list">
  <h1 class="committee-list__heading">London &ndash; Bloomsbury</h1>
  <ul>
    <li class="committee-list__item">
      <h4>Previous name(s)</h4>
      <p>Great ormond Street and Institute of Child Health REserach Ethics Committee then Central London REC 2</p>
    </li>
    <li class="committee-list__item">
      <h4>Chair</h4>
      <p>Reverend James Linthicum</p>
    </li>
    <li class="committee-list__item">
      <h4>Lorem ipsum</h4>
      <p>Dolor sit amet lorem ipsum sit dolor</p>
    </li>
    <li class="committee-list__item">
      <h4>Lorem ipsum</h4>
      <p>Dolor sit amet lorem ipsum sit dolor</p>
    </li>
    <li class="committee-list__item">
      <h4>Lorem ipsum</h4>
      <p>Dolor sit amet lorem ipsum sit dolor</p>
    </li>
    <li class="committee-list__item">
      <h4>Lorem ipsum</h4>
      <p>Dolor sit amet lorem ipsum sit dolor</p>
    </li>
    <li class="committee-list__item">
      <h4>Lorem ipsum</h4>
      <p>Dolor sit amet lorem ipsum sit dolor</p>
    </li>
    <li class="committee-list__item">
      <h4>Lorem ipsum</h4>
      <p>Dolor sit amet lorem ipsum sit dolor</p>
    </li>
    <li class="committee-list__item">
      <h4>Lorem ipsum</h4>
      <p>Dolor sit amet lorem ipsum sit dolor</p>
    </li>
  </ul>
</div>