<div class="committee-table">
  <h2>Meeting Dates</h2>

  <table class="table">
    <thead>
      <tr>
        <td>Heading</td>
        <td>Heading</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
    </tbody>
  </table>
</div>