{% load navigation_tags %}

<footer class="site-footer">

    {% spaceless %}
        <h2 class="visually-hidden">Site map</h2>
        <div class="grid">

            {% footernav %}

            <div class="grid__item one-fifth desktop--one-third tablet--one-whole">
                <h4 class="site-footer__heading">Follow us</h4>

                {% with social_media_settings=settings.utils.SocialMediaSettings %}

                    <ul class="site-footer__social">

                        {% if social_media_settings.twitter_handle %}
                            <li class="">
                                <a href="https://twitter.com/{{ social_media_settings.twitter_handle }}">
                                <svg width="22px" height="22px">
                                    <use xlink:href="#twitter-icon"></use>
                                </svg>
                                <span>Twitter</span></a>
                            </li>
                        {% endif %}

                        {% if social_media_settings.youtube_channel_id %}
                            <li class="">
                                <a href="https://www.youtube.com/channel/{{ social_media_settings.youtube_channel_id }}">
                                <svg width="22px" height="22px">
                                    <use xlink:href="#youtube-icon"></use>
                                </svg>
                                <span>YouTube</span></a>
                            </li>
                        {% endif %}

                        {% if social_media_settings.linkedin_company_id %}
                            <li class="">
                                <a href="https://linkedin.com/company/{{ social_media_settings.linkedin_company_id }}">
                                <svg width="22px" height="22px">
                                    <use xlink:href="#linkedin-icon"></use>
                                </svg>
                                <span>LinkedIn</span></a>
                            </li>
                        {% endif %}

                        <li class="site-footer__social-info">
                            <span>Health Research Authority</span>
                            Skipton House, 80 London Road, London SE1 6LH
                        </li>
                    </ul>

                {% endwith %}
            </div>

        </div>
    {% endspaceless %}

</footer>

<div class="site-footer__credits">
    {% spaceless %}
        <div class="grid">
            <div class="grid__item one-quarter tablet--one-half mobile--one-whole">
                <span>&copy; Copyright HRA 2017</span>
            </div>
            <div class="grid__item two-quarters mobile--one-whole">

                {% footersecondarynav %}

            </div>
            <div class="grid__item one-quarter tablet--one-half mobile--one-whole">
                <a class="site-footer__credits-last-link" href="https://torchbox.com">Site by Torchbox</a>
            </div>
        </div>
    {% endspaceless %}
</div>

<div class="notification notification--default notification--footer">
    <div class="notification__heading">We need your feedback!</div>
    <div class="notification__content">
        <div class="rich-text"><p>We are still testing the new HRA website to ensure it meets your needs. <a href="/about-us/governance/hra-website-feedback/">Please complete our short feedback form</a>.</p></div>
    </div>
</div>
