{% load navigation_tags %}

<footer class="site-footer">

    {% spaceless %}
        <div class="grid grid--wide">

            {% footernav %}

            <div class="grid__item one-fifth desktop--one-third tablet--one-whole">
                <h4 class="site-footer__heading">Follow us</h4>

                {% with social_media_settings=settings.utils.SocialMediaSettings %}

                    <ul class="site-footer__social">

                        {% if social_media_settings.twitter_handle %}
                            <li class="">
                                <a href="https://twitter.com/{{ social_media_settings.twitter_handle }}">Twitter</a>
                            </li>
                        {% endif %}

                        {% if social_media_settings.youtube_channel_id %}
                            <li class="">
                                <a href="https://www.youtube.com/channel/{{ social_media_settings.youtube_channel_id }}">YouTube</a>
                            </li>
                        {% endif %}

                        {% if social_media_settings.linkedin_company_id %}
                            <li class="">
                                <a href="https://linkedin.com/company/{{ social_media_settings.linkedin_company_id }}">LinkedIn</a>
                            </li>
                        {% endif %}

                        {% if social_media_settings.facebook_app_id %}
                            <li class="">
                                <a href="https://facebook.com/{{ social_media_settings.facebook_app_id }}">Facebook</a>
                            </li>
                        {% endif %}

                        <p class="site-footer__social-info">
                            <span>Health Research Authority</span>
                            Skipton House, 80 London Road, London SE1 6LH
                        </p>
                    </ul>

                {% endwith %}
            </div>

        </div>
    {% endspaceless %}

</footer>

<div class="site-footer__credits">
    {% spaceless %}
        <div class="grid">
            <div class="grid__item one-quarter tablet--one-half mobile--one-whole">
                <span>&copy; Copyright HRA 2017</span>
            </div>
            <div class="grid__item two-quarters mobile--one-whole">

                {% footersecondarynav %}

            </div>
            <div class="grid__item one-quarter tablet--one-half mobile--one-whole">
                <a class="site-footer__credits-last-link" href="https://torchbox.com">Site by Torchbox</a>
            </div>
        </div>
    {% endspaceless %}
</div>
