{% load navigation_tags %}

<footer class="site-footer">

    {% spaceless %}
        <div class="grid grid--wide">

            {% footernav %}

            {# TODO: Use SocialMediaSettings here #}
            <div class="grid__item one-fifth desktop--one-third tablet--one-whole">
                <h4 class="site-footer__heading">Follow us</h4>
                <ul class="site-footer__social">
                    <li class=""><a href="#">Twitter</a></li>
                    <li class=""><a href="#">Facebook</a></li>
                    <li class=""><a href="#">LinkedIn</a></li>
                    <p class="site-footer__social-info">
                        <span>Health Research Authority</span>
                        Skipton House, 80 London Road, London SE1 6LH
                    </p>
                </ul>
            </div>

        </div>
    {% endspaceless %}

</footer>

<div class="site-footer__credits">
    {% spaceless %}
        <div class="grid">
            <div class="grid__item one-quarter tablet--one-half mobile--one-whole">
                <span>&copy; Copyright HRA 2017</span>
            </div>
            <div class="grid__item two-quarters mobile--one-whole">

                {% footersecondarynav %}

            </div>
            <div class="grid__item one-quarter tablet--one-half mobile--one-whole">
                <a class="site-footer__credits-last-link" href="https://torchbox.com">Site by Torchbox</a>
            </div>
        </div>
    {% endspaceless %}
</div>
