/*------------------------------------*\
    $HERO WITH CAPTION
\*------------------------------------*/

.hero {
    &__caption {
        position: absolute;
        top: 245px;
        right: 0;
        padding: 45px 120px 60px 65px;
        margin: auto 0;
        background-color: rgba(9, 89, 169, 0.95);

        &::before {
            position: absolute;
            top: 74px;
            left: 3px;
            width: 44px;
            height: 50px;
            background: {
                size: cover;
                image: url('../images/svg/plain-arrow.svg');
            }
            content: '';
            transform: rotate(-90deg);
        }

        @include media-query(desktop) {
            padding: 30px 30px 30px 60px;

            &::before {
                top: 60px;
            }
        }

        @include media-query(tablet) {
            top: auto;
            bottom: -50px;
            width: calc(100% - 20px);

            &::before {
                top: 0;
                left: 10px;
                width: 26px;
                height: 31px;
                transform: none;
            }
        }
    }

    &__caption-breadcrumbs {
        @include font-size(milli);
        color: #fff;

        > ul {
            li {
                display: inline-block;

                a,
                span {
                    color: #fff;
                }
            }
        }

        @include media-query(tablet) {
            display: none;
        }
    }

    &__caption-title {
        @include rem-font-size(50px);
        line-height: 1.3;
        color: #fff;

        @include media-query(tablet) {
            @include rem-font-size(40px);
        }

        @include media-query(mobile) {
            @include font-size(beta);
        }
    }

    &__caption-subtitle {
        @include font-size(epsilon);
        color: #fff;

        @include media-query(mobile) {
            @include font-size(zeta);
        }
    }
}
