/*------------------------------------*\
    $HERO INNER
\*------------------------------------*/

.hero {
    &--inner {
        height: 520px;
        padding: 0 20px;
        overflow: auto;
        background: {
            color: $color--primary;
            size: 69px 85px;
            image: url('../images/svg/hero-patterns/pattern-1.svg');
        }

        @include media-query(laptop) {
            height: auto;
            padding: 40px 20px;
        }

        @include media-query(tablet) {
            padding: 100px 20px 40px;
        }
    }

    &__content {
        max-width: $standard-body-width;
        margin: 180px auto 0;
        color: #fff;

        @include media-query(tablet) {
            margin-top: 0;
        }
    }

    &__breadcrumbs {
        @include font-size(milli);
        color: #fff;

        ul {
            li {
                display: inline-block;

                a,
                span {
                    color: #fff;
                }

                a {
                    position: relative;
                    padding-right: 14px;

                    // Chevron
                    &::after {
                        position: absolute;
                        top: 0;
                        right: 2px;
                        font-size: 19px;
                        line-height: 16px;
                        content: '\203A';
                    }

                    // Underline
                    &::before {
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: calc(100% - 14px);
                        height: 1px;
                        background-color: rgba(255, 255, 255, 0.7);
                        content: '';
                        opacity: 0;
                        transition: opacity $default-transition-speed ease;
                    }

                    &:hover {
                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        @include media-query(tablet) {
            display: none;
        }
    }

    &__heading {
        color: #fff;
    }

    &__date {
        color: #fff;
    }
}
