/*------------------------------------*\
    $HERO HOMEPAGE
\*------------------------------------*/

.hero--homepage {
    height: 700px;

    .hero__caption {
        right: auto;
        left: 0;
    }
}
