/*------------------------------------*\
    $HERO SLIM
\*------------------------------------*/

.hero {
    &--slim {
        height: 400px;
        padding: 0 20px;
        overflow: auto;
        background: {
            color: $color--primary;
            size: 69px 85px;
            image: url('../images/svg/hero-patterns/pattern-2.svg');
        }

        @include media-query(laptop) {
            height: auto;
            padding: 40px 20px;
        }

        @include media-query(tablet) {
            padding: 100px 20px 40px;
        }
    }

    &__content {
        max-width: $standard-body-width;
        margin: 180px auto 0;
        color: #fff;

        @include media-query(tablet) {
            margin-top: 0;
        }
    }

    &__breadcrumbs {
        color: #fff;
    }

    &__heading {
        color: #fff;
    }

    &__date {
        color: #fff;
    }
}
